# This notebook is using the Nation's Report Card (NAEP) API to pull in information about adolescent academic success from the years 2001 to 2014. (grades 4, 8, 12)

In [115]:
import requests
import pandas as pd

#### Getting familiar with the API

In [29]:
endpoint = 'https://www.nationsreportcard.gov/DataService/GetAdhocData.aspx?type=data&variable=TOTAL&subject=writing&grade=8&subscale=WRIRP&jurisdiction=NP&stattype=MN:MN&Year=2011'

response = requests.get(endpoint)

In [30]:
response

In [31]:
response.text

'{"status":200,"result": [{"year":2011,"sample":"R3","yearSampleLabel":"2011","Cohort":2,"CohortLabel":"Grade 8","stattype":"MN:MN","subject":"WRI","grade":8,"scale":"WRIRP","jurisdiction":"NP","variable":"TOTAL","variableLabel":"All students","varValue":"1","varValueLabel":"All students","value":148.705469015333,"isStatDisplayable":1,"errorFlag":0}]}'

In [32]:
res = response.json()
res

{'status': 200,
 'result': [{'year': 2011,
   'sample': 'R3',
   'yearSampleLabel': '2011',
   'Cohort': 2,
   'CohortLabel': 'Grade 8',
   'stattype': 'MN:MN',
   'subject': 'WRI',
   'grade': 8,
   'scale': 'WRIRP',
   'jurisdiction': 'NP',
   'variable': 'TOTAL',
   'variableLabel': 'All students',
   'varValue': '1',
   'varValueLabel': 'All students',
   'value': 148.705469015333,
   'isStatDisplayable': 1,
   'errorFlag': 0}]}

In [233]:
endpoint2 = 'https://www.nationsreportcard.gov/DataService/GetAdhocData.aspx?'

In [242]:
params = {
    'type': 'data',
    'variable': 'TOTAL', 
    'subject': 'history',
    'grade': 8,
    'subscale': 'HRPCM',
    'jurisdiction': 'AL',
    'stattype': 'MN:MN',
    'year': 2001
}

In [243]:
response2 = requests.get(endpoint2, params = params)

In [244]:
response2

In [245]:
res = response2.json()
res

{'status': 200, 'result': []}

In [108]:
res['result'][0]['value']

148.705469015333

### Getting scores for grade 8. Subjects: Math, Reading, Science, History, Geography. Years: 2001, 2003, 2007, 2009, 2010, 2011, 2012, 2013, 2014. At the national jurisdiction. Scores are 'composite' scores, which is just the average(mean) score.

In [196]:
years = [2001, 2003, 2007, 2009, 2010, 2011, 2012, 2013, 2014 ]
subjects = ['mathematics', 'reading', 'science', 'history', 'geography']
subscales = ['MRPCM', 'RRPCM', 'SRPCM', 'HRPCM', 'GRPCM']
year = []
subject = []
composite_score = []

for x in years:
    for y in subjects:
        print('working on', x, y)
        
        if y == 'mathematics':
            try: 
                params = {
                    'type': 'data',
                    'variable': 'TOTAL', 
                    'subject': y,
                    'grade': 8,
                    'subscale': 'MRPCM',
                    'jurisdiction': 'NP',
                    'stattype': 'MN:MN',
                    'year': x
                }
        
                response = requests.get(endpoint2, params = params)
                res = response.json()
        
                composite_score.append(res['result'][0]['value'])
                year.append(x)
                subject.append(y)
        
            except:
                year.append(x)
                subject.append(y)
                composite_score.append('N/A')
                
        if y == 'reading':
            try: 
                params = {
                    'type': 'data',
                    'variable': 'TOTAL', 
                    'subject': y,
                    'grade': 8,
                    'subscale': 'RRPCM',
                    'jurisdiction': 'NP',
                    'stattype': 'MN:MN',
                    'year': x
                }
        
                response = requests.get(endpoint2, params = params)
                res = response.json()
        
                composite_score.append(res['result'][0]['value'])
                year.append(x)
                subject.append(y)
        
            except:
                year.append(x)
                subject.append(y)
                composite_score.append('N/A')
                
        if y == 'science':
            try: 
                params = {
                    'type': 'data',
                    'variable': 'TOTAL', 
                    'subject': y,
                    'grade': 8,
                    'subscale': 'SRPCM',
                    'jurisdiction': 'NP',
                    'stattype': 'MN:MN',
                    'year': x
                }
        
                response = requests.get(endpoint2, params = params)
                res = response.json()
        
                composite_score.append(res['result'][0]['value'])
                year.append(x)
                subject.append(y)
        
            except:
                year.append(x)
                subject.append(y)
                composite_score.append('N/A')
                
        if y == 'history':
            try: 
                params = {
                    'type': 'data',
                    'variable': 'TOTAL', 
                    'subject': y,
                    'grade': 8,
                    'subscale': 'HRPCM',
                    'jurisdiction': 'NP',
                    'stattype': 'MN:MN',
                    'year': x
                }
        
                response = requests.get(endpoint2, params = params)
                res = response.json()
        
                composite_score.append(res['result'][0]['value'])
                year.append(x)
                subject.append(y)
        
            except:
                year.append(x)
                subject.append(y)
                composite_score.append('N/A')
                
        if y == 'geography':
            try: 
                params = {
                    'type': 'data',
                    'variable': 'TOTAL', 
                    'subject': y,
                    'grade': 8,
                    'subscale': 'GRPCM',
                    'jurisdiction': 'NP',
                    'stattype': 'MN:MN',
                    'year': x
                }
        
                response = requests.get(endpoint2, params = params)
                res = response.json()
        
                composite_score.append(res['result'][0]['value'])
                year.append(x)
                subject.append(y)
        
            except:
                year.append(x)
                subject.append(y)
                composite_score.append('N/A')

working on 2001 mathematics
working on 2001 reading
working on 2001 science
working on 2001 history
working on 2001 geography
working on 2003 mathematics
working on 2003 reading
working on 2003 science
working on 2003 history
working on 2003 geography
working on 2007 mathematics
working on 2007 reading
working on 2007 science
working on 2007 history
working on 2007 geography
working on 2009 mathematics
working on 2009 reading
working on 2009 science
working on 2009 history
working on 2009 geography
working on 2010 mathematics
working on 2010 reading
working on 2010 science
working on 2010 history
working on 2010 geography
working on 2011 mathematics
working on 2011 reading
working on 2011 science
working on 2011 history
working on 2011 geography
working on 2012 mathematics
working on 2012 reading
working on 2012 science
working on 2012 history
working on 2012 geography
working on 2013 mathematics
working on 2013 reading
working on 2013 science
working on 2013 history
working on 2013 geography
working on 2014 mathematics
working on 2014 reading
working on 2014 science
working on 2014 history
working on 2014 geography

In [197]:
national_scores_df = pd.DataFrame(year, columns=['year'])

In [198]:
national_scores_df['subject'] = subject
national_scores_df['composite_score'] = composite_score
national_scores_df

    year      subject composite_score
0   2001  mathematics             N/A
1   2001      reading             N/A
2   2001      science             N/A
3   2001      history      258.213351
4   2001    geography      258.623176
5   2003  mathematics      276.115276
6   2003      reading      261.332615
7   2003      science             N/A
8   2003      history             N/A
9   2003    geography             N/A
10  2007  mathematics      280.169461
11  2007      reading      261.013951
12  2007      science             N/A
13  2007      history             N/A
14  2007    geography             N/A
15  2009  mathematics      281.674781
16  2009      reading      262.293618
17  2009      science             N/A
18  2009      history             N/A
19  2009    geography             N/A
20  2010  mathematics             N/A
21  2010      reading             N/A
22  2010      science             N/A
23  2010      history      264.640415
24  2010    geography      260.013989
25  2011  mathematics      282.727131
26  2011      reading      263.592526
27  2011      science             N/A
28  2011      history             N/A
29  2011    geography             N/A
30  2012  mathematics             N/A
31  2012      reading             N/A
32  2012      science             N/A
33  2012      history             N/A
34  2012    geography             N/A
35  2013  mathematics      283.615036
36  2013      reading      266.019136
37  2013      science             N/A
38  2013      history             N/A
39  2013    geography             N/A
40  2014  mathematics             N/A
41  2014      reading             N/A
42  2014      science             N/A
43  2014      history       266.34036
44  2014    geography      260.250481

In [202]:
national_scores_df[national_scores_df['composite_score'] != 'N/A'][]

    year      subject composite_score
3   2001      history      258.213351
4   2001    geography      258.623176
5   2003  mathematics      276.115276
6   2003      reading      261.332615
10  2007  mathematics      280.169461
11  2007      reading      261.013951
15  2009  mathematics      281.674781
16  2009      reading      262.293618
23  2010      history      264.640415
24  2010    geography      260.013989
25  2011  mathematics      282.727131
26  2011      reading      263.592526
35  2013  mathematics      283.615036
36  2013      reading      266.019136
43  2014      history       266.34036
44  2014    geography      260.250481

### Doing the same thing but on the state level instead of national.

In [246]:
states = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID',
          'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS',
          'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK',
          'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV',
          'WI', 'WY']
years = [2001, 2003, 2007, 2009, 2010, 2011, 2012, 2013, 2014 ]
subjects = ['mathematics', 'reading', 'science', 'history', 'geography']
subscales = ['MRPCM', 'RRPCM', 'SRPCM', 'HRPCM', 'GRPCM']
state = []
year = []
subject = []
composite_score = []

for x in years:
    for z in states:
        for y in subjects:
            print('working on', x, z, y)
        
            if y == 'mathematics':
                try: 
                    params = {
                        'type': 'data',
                        'variable': 'TOTAL', 
                        'subject': y,
                        'grade': 8,
                        'subscale': 'MRPCM',
                        'jurisdiction': z,
                        'stattype': 'MN:MN',
                        'year': x
                    }
        
                    response = requests.get(endpoint2, params = params)
                    res = response.json()
                    
                    composite_score.append(res['result'][0]['value'])
                    year.append(x)
                    state.append(z)
                    subject.append(y)
        
                except:
                    year.append(x)
                    state.append(z)
                    subject.append(y)
                    composite_score.append('N/A')
                
            if y == 'reading':
                try: 
                    params = {
                        'type': 'data',
                        'variable': 'TOTAL', 
                        'subject': y,
                        'grade': 8,
                        'subscale': 'RRPCM',
                        'jurisdiction': z,
                        'stattype': 'MN:MN',
                        'year': x
                    }
        
                    response = requests.get(endpoint2, params = params)
                    res = response.json()
                    
                    composite_score.append(res['result'][0]['value'])
                    year.append(x)
                    state.append(z)
                    subject.append(y)
        
                except:
                    year.append(x)
                    state.append(z)
                    subject.append(y)
                    composite_score.append('N/A')
                
            if y == 'science':
                try: 
                    params = {
                        'type': 'data',
                        'variable': 'TOTAL', 
                        'subject': y,
                        'grade': 8,
                        'subscale': 'SRPCM',
                        'jurisdiction': z,
                        'stattype': 'MN:MN',
                        'year': x
                    }
        
                    response = requests.get(endpoint2, params = params)
                    res = response.json()
        
                    composite_score.append(res['result'][0]['value'])
                    year.append(x)
                    state.append(z)
                    subject.append(y)
        
                except:
                    year.append(x)
                    state.append(z)
                    subject.append(y)
                    composite_score.append('N/A')
                
            if y == 'history':
                try: 
                    params = {
                        'type': 'data',
                        'variable': 'TOTAL', 
                        'subject': y,
                        'grade': 8,
                        'subscale': 'HRPCM',
                        'jurisdiction': z,
                        'stattype': 'MN:MN',
                        'year': x
                    }
        
                    response = requests.get(endpoint2, params = params)
                    res = response.json()
        
                    composite_score.append(res['result'][0]['value'])
                    year.append(x)
                    state.append(z)
                    subject.append(y)
        
                except:
                    year.append(x)
                    state.append(z)
                    subject.append(y)
                    composite_score.append('N/A')
                
            if y == 'geography':
                try: 
                    params = {
                        'type': 'data',
                        'variable': 'TOTAL', 
                        'subject': y,
                        'grade': 8,
                        'subscale': 'GRPCM',
                        'jurisdiction': z,
                        'stattype': 'MN:MN',
                        'year': x
                    }
        
                    response = requests.get(endpoint2, params = params)
                    res = response.json()
        
                    composite_score.append(res['result'][0]['value'])
                    year.append(x)
                    state.append(z)
                    subject.append(y)
        
                except:
                    year.append(x)
                    state.append(z)
                    subject.append(y)
                    composite_score.append('N/A')

working on 2001 AL mathematics
working on 2001 AL reading
working on 2001 AL science
working on 2001 AL history
working on 2001 AL geography
working on 2003 AL mathematics
working on 2003 AL reading
working on 2003 AL science
working on 2003 AL history
working on 2003 AL geography

In [221]:
composite_score

['N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 'N/A',
 261.939022225118,
 253.172593739071,
 'N/A',
 'N/A',
 'N/A',
 279.025069865231,
 256.409625298838,
 'N/A',
 'N/A',
 'N/A',
 271.177350478914,
 255.320115210993,
 'N/A',
 'N/A',
 'N/A',
 265.771589343076,
 257.998089007686,
 'N/A',
 'N/A',
 'N/A',
 267.049500585455,
 251.007500405859,
 'N/A',
 'N/A',
 'N/A',
 283.399858481467,
 267.592640864405,
 'N/A',
 'N/A',
 'N/A',
 283.729811207579,
 267.218075351081,
 'N/A',
 'N/A',
 'N/A',
 277.158368932433,
 264.532051451005,
 'N/A',
 'N/A',
 'N/A',
 271.371490239171,
 257.301319786896,
 'N/A',
 'N/A',
 'N/A',
 269.677009232403,
 257.714824971911,
 'N/A',
 'N/A',
 'N/A',
 265.728581015081,
 251.284801856226,
 'N/A',
 'N/A',
 'N/A',
 279.939266837246,
 264.439775716816,
 'N/A',
 'N/A',
 'N/A',
 277.160080956322,
 266.408968905567,
 'N/A',
 'N/A',
 'N/A',
 281.220939756711,
 264.832532267553,
 'N/A',
 'N/A',
 'N/A',
 283.953344744355,
 267.5048316647,
 'N/A',
 'N/A',
 'N/A',
 284.191088052303,
 266.011689626198,
 'N/A',
 'N/A',
 'N/A',
 274.278472166639,
 266.191435227824,
 'N/A',
 'N/A',
 'N/A',
 266.328359269062,
 253.448288243581,
 'N/A',
 'N/A',
 'N/A',
 281.903773320764,
 268.323265177592,
 'N/A',
 'N/A',
 'N/A',
 277.71611251074,
 261.595731939425,
 'N/A',
 'N/A',
 'N/A',
 286.52069448017,
 272.906645050057,
 'N/A',
 'N/A',
 'N/A',
 276.441861597672,
 264.378292493388,
 'N/A',
 'N/A',
 'N/A',
 290.680055978624,
 267.711358412271,
 'N/A',
 'N/A',
 'N/A',
 260.911933580199,
 255.010828024612,
 'N/A',
 'N/A',
 'N/A',
 278.766250348876,
 267.363673296442,
 'N/A',
 'N/A',
 'N/A',
 285.928022552419,
 269.833415980195,
 'N/A',
 'N/A',
 'N/A',
 282.193755965696,
 266.313690432675,
 'N/A',
 'N/A',
 'N/A',
 268.04313771367,
 252.309915677623,
 'N/A',
 'N/A',
 'N/A',
 286.198468660005,
 270.734453004041,
 'N/A',
 'N/A',
 'N/A',
 281.407119904536,
 267.786953088416,
 'N/A',
 'N/A',
 'N/A',
 263.272906651625,
 251.599155965354,
 'N/A',
 'N/A',
 'N/A',
 279.749257044273,
 265.329794503317,
 'N/A',
 'N/A',
 'N/A',
 281.240350571106,
 261.71164481782,
 'N/A',
 'N/A',
 'N/A',
 287.14464048292,
 269.73035434547,
 'N/A',
 'N/A',
 'N/A',
 281.607295379003,
 266.566105917826,
 'N/A',
 'N/A',
 'N/A',
 271.905151347835,
 261.719961000332,
 'N/A',
 'N/A',
 'N/A',
 280.892470910844,
 264.025569883652,
 'N/A',
 'N/A',
 'N/A',
 278.537758124922,
 264.267365101484,
 'N/A',
 'N/A',
 'N/A',
 271.998694378475,
 260.879572089782,
 'N/A',
 'N/A',
 'N/A',
 277.300449617316,
 258.088991442805,
 'N/A',
 'N/A',
 'N/A',
 284.881736383978,
 269.971058609565,
 'N/A',
 'N/A',
 'N/A',
 268.175728562365,
 258.10836458389,
 'N/A',
 'N/A',
 'N/A',
 277.052648954338,
 258.777257969241,
 'N/A',
 'N/A',
 'N/A',
 280.64536966117,
 264.303442578174,
 'N/A',
 'N/A',
 'N/A',
 285.6455721843,
 270.519439020331,
 'N/A',
 'N/A',
 'N/A',
 281.676643366069,
 268.004817111028,
 'N/A',
 'N/A',
 'N/A',
 281.151364414263,
 264.494066459256,
 'N/A',
 'N/A',
 'N/A',
 270.770353447282,
 259.564237912782,
 'N/A',
 'N/A',
 'N/A',
 283.915865654494,
 266.468617636836,
 'N/A',
 'N/A',
 'N/A',
 283.50334994463,
 267.00102854451,
 'N/A',
 'N/A',
 'N/A',
 266.000109919931,
 251.936881437536,
 'N/A',
 'N/A',
 'N/A',
 282.557154120707,
 258.798455932602,
 'N/A',
 'N/A',
 'N/A',
 275.548426408372,
 254.828792354004,
 'N/A',
 'N/A',
 'N/A',
 273.89986215628,
 257.96099580386,
 'N/A',
 'N/A',
 'N/A',
 270.381784005669,
 251.287791535591,
 'N/A',
 'N/A',
 'N/A',
 286.192756166341,
 266.407881623504,
 'N/A',
 'N/A',
 'N/A',
 282.472790062009,
 267.055691390062,
 'N/A',
 'N/A',
 'N/A',
 282.992082743316,
 264.544830664544,
 'N/A',
 'N/A',
 'N/A',
 277.383497256758,
 259.790720651776,
 'N/A',
 'N/A',
 'N/A',
 274.778664644925,
 258.70499279234,
 'N/A',
 'N/A',
 'N/A',
 268.772013351933,
 251.330810691924,
 'N/A',
 'N/A',
 'N/A',
 283.507595771493,
 264.886342446047,
 'N/A',
 'N/A',
 'N/A',
 280.497096028329,
 262.826617097915,
 'N/A',
 'N/A',
 'N/A',
 285.007210900174,
 264.095960900362,
 'N/A',
 'N/A',
 'N/A',
 285.226903146597,
 267.450719560442,
 'N/A',
 'N/A',
 'N/A',
 290.032599829257,
 267.413790936682,
 'N/A',
 'N/A',
 'N/A',
 278.704749914375,
 261.965950993654,
 'N/A',
 'N/A',
 'N/A',
 272.386299598469,
 253.238294281289,
 'N/A',
 'N/A',
 'N/A',
 286.472253115987,
 269.920153818638,
 'N/A',
 'N/A',
 'N/A',
 285.734265236821,
 265.240121492132,
 'N/A',
 'N/A',
 'N/A',
 297.923344483955,
 273.284048809294,
 'N/A',
 'N/A',
 'N/A',
 276.830517083696,
 260.317706092973,
 'N/A',
 'N/A',
 'N/A',
 291.85111653854,
 268.197442761373,
 'N/A',
 'N/A',
 'N/A',
 264.890918700127,
 250.063570104392,
 'N/A',
 'N/A',
 'N/A',
 280.619538285703,
 263.442315999206,
 'N/A',
 'N/A',
 'N/A',
 287.075528953695,
 270.937849960978,
 'N/A',
 'N/A',
 'N/A',
 283.650598646173,
 267.030850555401,
 'N/A',
 'N/A',
 'N/A',
 270.804024374923,
 252.348473866768,
 'N/A',
 'N/A',
 'N/A',
 287.557060954994,
 269.734588561039,
 'N/A',
 'N/A',
 'N/A',
 288.583451449458,
 270.141550284263,
 'N/A',
 'N/A',
 'N/A',
 267.538078662633,
 250.75317445253,
 'N/A',
 'N/A',
 'N/A',
 280.141177237476,
 263.54571646767,
 'N/A',
 'N/A',
 'N/A',
 283.880668759806,
 259.136703088411,
 'N/A',
 'N/A',
 'N/A',
 291.561611918756,
 268.017670542433,
 'N/A',
 'N/A',
 'N/A',
 284.851639473941,
 267.978979400559,
 'N/A',
 'N/A',
 'N/A',
 274.534989354995,
 259.547225161046,
 'N/A',
 'N/A',
 'N/A',
 283.826277204194,
 265.710210180337,
 'N/A',
 'N/A',
 'N/A',
 286.16686332577,
 267.665630227785,
 'N/A',
 'N/A',
 'N/A',
 275.386990471622,
 258.321117711185,
 'N/A',
 'N/A',
 'N/A',
 281.503601480921,
 257.421202792973,
 'N/A',
 'N/A',
 'N/A',
 288.463925271604,
 269.596763416027,
 'N/A',
 'N/A',
 'N/A',
 273.978786623685,
 259.161954905287,
 'N/A',
 'N/A',
 'N/A',
 285.870708420456,
 260.812919224922,
 'N/A',
 'N/A',
 'N/A',
 281.087473705525,
 262.228024678962,
 'N/A',
 'N/A',
 'N/A',
 291.010773791979,
 273.045757236707,
 'N/A',
 'N/A',
 'N/A',
 287.625904963882,
 266.878737486076,
 'N/A',
 'N/A',
 'N/A',
 284.862804344983,
 264.947778144606,
 'N/A',
 'N/A',
 'N/A',
 270.084093587271,
 254.998552385478,
 'N/A',
 'N/A',
 'N/A',
 285.617942521924,
 264.184509633385,
 'N/A',
 'N/A',
 'N/A',
 286.987771483089,
 266.22554358249,
 'N/A',
 'N/A',
 'N/A',
 268.524120315168,
 254.89524659554,
 'N/A',
 'N/A',
 'N/A',
 283.047662800849,
 259.449426538116,
 'N/A',
 'N/A',
 'N/A',
 277.332281962623,
 257.595275452299,
 'N/A',
 'N/A',
 'N/A',
 275.999499994013,
 258.048580163614,
 'N/A',
 'N/A',
 'N/A',
 270.448588146426,
 252.631380782334,
 'N/A',
 'N/A',
 'N/A',
 287.372907515934,
 265.51311994428,
 'N/A',
 'N/A',
 'N/A',
 288.608513451696,
 271.810133169712,
 'N/A',
 'N/A',
 'N/A',
 283.829472979958,
 264.998966063101,
 'N/A',
 'N/A',
 'N/A',
 279.33526411278,
 264.362040854787,
 'N/A',
 'N/A',
 'N/A',
 277.561199732371,
 260.244524519648,
 'N/A',
 'N/A',
 'N/A',
 273.758606683625,
 254.738979931593,
 'N/A',
 'N/A',
 'N/A',
 287.305215052426,
 264.837184984886,
 'N/A',
 'N/A',
 'N/A',
 282.431416992088,
 264.514002261585,
 'N/A',
 'N/A',
 'N/A',
 286.809977886735,
 265.69124060951,
 'N/A',
 'N/A',
 'N/A',
 284.170178554705,
 264.888126041644,
 'N/A',
 'N/A',
 'N/A',
 288.596403041255,
 266.799519310717,
 'N/A',
 'N/A',
 'N/A',
 279.284216093787,
 266.854019810768,
 'N/A',
 'N/A',
 'N/A',
 272.379906697646,
 253.329004007468,
 'N/A',
 'N/A',
 'N/A',
 286.361425938805,
 267.706499608477,
 'N/A',
 'N/A',
 'N/A',
 288.341565298202,
 267.298056489004,
 'N/A',
 'N/A',
 'N/A',
 298.854346618482,
 273.589289718711,
 'N/A',
 'N/A',
 'N/A',
 278.268168151681,
 261.898150017122,
 'N/A',
 'N/A',
 'N/A',
 294.443320106986,
 269.739820132507,
 'N/A',
 'N/A',
 'N/A',
 265.001958154729,
 251.305654614612,
 'N/A',
 'N/A',
 'N/A',
 285.808001946777,
 266.876460156868,
 'N/A',
 'N/A',
 'N/A',
 291.542942879491,
 270.393925995333,
 'N/A',
 'N/A',
 'N/A',
 284.259093531038,
 267.067856574245,
 'N/A',
 'N/A',
 'N/A',
 274.148541684888,
 253.84095441963,
 'N/A',
 'N/A',
 'N/A',
 292.321817220053,
 270.748158823326,
 'N/A',
 'N/A',
 'N/A',
 292.657227109585,
 272.80263385761,
 'N/A',
 'N/A',
 'N/A',
 269.704253797704,
 254.129173669956,
 'N/A',
 'N/A',
 'N/A',
 282.576915418605,
 264.288057457975,
 'N/A',
 'N/A',
 'N/A',
 284.332635252336,
 259.528486560755,
 'N/A',
 'N/A',
 'N/A',
 292.842488544915,
 269.239984852546,
 'N/A',
 'N/A',
 'N/A',
 285.583013784517,
 268.67823553327,
 'N/A',
 'N/A',
 'N/A',
 275.711956830545,
 259.495771007061,
 'N/A',
 'N/A',
 'N/A',
 285.036814371216,
 265.08924671644,
 'N/A',
 'N/A',
 'N/A',
 288.304168923925,
 270.700536709088,
 'N/A',
 'N/A',
 'N/A',
 277.92371937219,
 259.885589729898,
 'N/A',
 'N/A',
 'N/A',
 280.380855413571,
 257.274184592561,
 'N/A',
 'N/A',
 'N/A',
 290.619127707892,
 270.06099022928,
 'N/A',
 'N/A',
 'N/A',
 274.761821088186,
 260.946676191649,
 'N/A',
 'N/A',
 'N/A',
 286.685076683873,
 260.368795018986,
 'N/A',
 'N/A',
 'N/A',
 284.068251870422,
 265.591577109328,
 'N/A',
 'N/A',
 'N/A',
 292.866096352356,
 272.305134189083,
 'N/A',
 'N/A',
 'N/A',
 286.069754986907,
 265.641981716133,
 'N/A',
 'N/A',
 'N/A',
 288.722375608773,
 266.917617143622,
 'N/A',
 'N/A',
 'N/A',
 270.415765915327,
 254.799747493408,
 'N/A',
 'N/A',
 'N/A',
 288.140726236317,
 265.812615742952,
 'N/A',
 'N/A',
 'N/A',
 286.10403398533,
 268.159428117446,
 'N/A',
 'N/A',
 'N/A',
 ...]

In [247]:
state_scores_df = pd.DataFrame(year, columns=['year'])
state_scores_df['state'] = state
state_scores_df['subject'] = subject
state_scores_df['composite_score'] = composite_score
state_scores_df.head(15)

   year state      subject
0  2001    AL  mathematics
1  2001    AL      reading
2  2001    AL      science
3  2001    AL      history
4  2001    AL    geography
5  2003    AL  mathematics
6  2003    AL      reading
7  2003    AL      science
8  2003    AL      history
9  2003    AL    geography

In [209]:
state_scores = state_scores_df[state_scores_df['composite_score'] != 'N/A']
state_scores

      year state    subject composite_score
3     2001    AL    history      258.213351
4     2001    AL  geography      258.623176
8     2001    AK    history      258.213351
9     2001    AK  geography      258.623176
13    2001    AZ    history      258.213351
...    ...   ...        ...             ...
2239  2014    WV  geography      260.250481
2243  2014    WI    history       266.34036
2244  2014    WI  geography      260.250481
2248  2014    WY    history       266.34036
2249  2014    WY  geography      260.250481

[800 rows x 4 columns]

In [211]:
state_math_scores = state_scores[state_scores['subject'] == 'mathematics']
state_science_scores = state_scores[state_scores['subject'] == 'science']
state_history_scores = state_scores[state_scores['subject'] == 'history']
state_geography_scores = state_scores[state_scores['subject'] == 'geography']

In [213]:
state_math_scores.head(15)

     year state      subject composite_score
250  2003    AL  mathematics      276.115276
255  2003    AK  mathematics      276.115276
260  2003    AZ  mathematics      276.115276
265  2003    AR  mathematics      276.115276
270  2003    CA  mathematics      276.115276
275  2003    CO  mathematics      276.115276
280  2003    CT  mathematics      276.115276
285  2003    DE  mathematics      276.115276
290  2003    FL  mathematics      276.115276
295  2003    GA  mathematics      276.115276
300  2003    HI  mathematics      276.115276
305  2003    ID  mathematics      276.115276
310  2003    IL  mathematics      276.115276
315  2003    IN  mathematics      276.115276
320  2003    IA  mathematics      276.115276

In [ ]:
states = ['AL', 'AK', 'AZ', 'AR', 'CA', 'CO', 'CT', 'DE', 'FL', 'GA', 'HI', 'ID',
          'IL', 'IN', 'IA', 'KS', 'KY', 'LA', 'ME', 'MD', 'MA', 'MI', 'MN', 'MS',
          'MO', 'MT', 'NE', 'NV', 'NH', 'NJ', 'NM', 'NY', 'NC', 'ND', 'OH', 'OK',
          'OR', 'PA', 'RI', 'SC', 'SD', 'TN', 'TX', 'UT', 'VT', 'VA', 'WA', 'WV',
          'WI', 'WY']
years = [2001, 2003, 2007, 2009, 2010, 2011, 2012, 2013, 2014 ]
grades = [4, 8, 12]
subjects = ['mathematics', 'reading', 'science', 'history', 'geography']
subscales = ['MRPCM', 'RRPCM', 'SRPCM', 'HRPCM', 'GRPCM']
state = []
year = []
grade = []
subject = []
composite_score = []

for x in years:
    for z in states:
        for w in grades:
            for y in subjects:
                print('working on', x, z, y)
        
                if y == 'mathematics':
                    try: 
                        params = {
                            'type': 'data',
                            'variable': 'TOTAL', 
                            'subject': y,
                            'grade': w,
                            'subscale': 'MRPCM',
                            'jurisdiction': z,
                            'stattype': 'MN:MN',
                            'year': x
                        }
        
                        response = requests.get(endpoint2, params = params)
                        res = response.json()
# it's important we append 'composite_score' first just in case we get an 'empty' response back that
# doesn't provoke an error.
                        composite_score.append(res['result'][0]['value'])
                        year.append(x)
                        state.append(z)
                        grade.append(w)
                        subject.append(y)
        
                    except:
                        year.append(x)
                        state.append(z)
                        grade.append(w)
                        subject.append(y)
                        composite_score.append('N/A')
                
                if y == 'reading':
                    try: 
                        params = {
                            'type': 'data',
                            'variable': 'TOTAL', 
                            'subject': y,
                            'grade': w,
                            'subscale': 'RRPCM',
                            'jurisdiction': z,
                            'stattype': 'MN:MN',
                            'year': x
                        }
        
                        response = requests.get(endpoint2, params = params)
                        res = response.json()
                        
                        composite_score.append(res['result'][0]['value'])
                        year.append(x)
                        state.append(z)
                        grade.append(w)
                        subject.append(y)
        
                    except:
                        year.append(x)
                        state.append(z)
                        grade.append(w)
                        subject.append(y)
                        composite_score.append('N/A')
                
                if y == 'science':
                    try: 
                        params = {
                            'type': 'data',
                            'variable': 'TOTAL', 
                            'subject': y,
                            'grade': w,
                            'subscale': 'SRPCM',
                            'jurisdiction': z,
                            'stattype': 'MN:MN',
                            'year': x
                        }
        
                        response = requests.get(endpoint2, params = params)
                        res = response.json()
                        
                        composite_score.append(res['result'][0]['value'])
                        year.append(x)
                        state.append(z)
                        grade.append(w)
                        subject.append(y)
        
                    except:
                        year.append(x)
                        state.append(z)
                        grade.append(w)
                        subject.append(y)
                        composite_score.append('N/A')
                
                if y == 'history':
                    try: 
                        params = {
                            'type': 'data',
                            'variable': 'TOTAL', 
                            'subject': y,
                            'grade': w,
                            'subscale': 'HRPCM',
                            'jurisdiction': z,
                            'stattype': 'MN:MN',
                            'year': x
                        }
        
                        response = requests.get(endpoint2, params = params)
                        res = response.json()
        
                        composite_score.append(res['result'][0]['value'])
                        year.append(x)
                        state.append(z)
                        grade.append(w)
                        subject.append(y)
        
                    except:
                        year.append(x)
                        state.append(z)
                        grade.append(w)
                        subject.append(y)
                        composite_score.append('N/A')
                
                if y == 'geography':
                    try: 
                        params = {
                            'type': 'data',
                            'variable': 'TOTAL', 
                            'subject': y,
                            'grade': w,
                            'subscale': 'GRPCM',
                            'jurisdiction': z,
                            'stattype': 'MN:MN',
                            'year': x
                        }
        
                        response = requests.get(endpoint2, params = params)
                        res = response.json()
        
                        composite_score.append(res['result'][0]['value'])
                        year.append(x)
                        state.append(z)
                        grade.append(w)
                        subject.append(y)
        
                    except:
                        year.append(x)
                        state.append(z)
                        grade.append(w)
                        subject.append(y)
                        composite_score.append('N/A')