In [1]:
import pandas as pd

In [3]:
mentalhealth_survey = pd.read_csv('../data/Child Mentality/global_student_mentalhealth_2003_2015.csv')
mentalhealth_survey

,Year,LocationAbbr,LocationDesc,DataSource,Topic,Subtopic,ShortQuestionText,Greater_Risk_Question,Description,Data_Value_Symbol,...,Age,GeoLocation,TopicID,SubtopicID,QuestionCode,LocationId,StratID1,StratID2,StratID3,StratificationType
0,2010,NU,Niue,GSHS,Dietary Behaviors,Body Weight,Obesity,Were obese,>+2SD from the median for BMI by age and sex,%,...,13,NaN,C05,C39,QNOBESEG,NaN,S1,A2,NU,Western Pacific
1,2003,UGB,Uganda (Urban),GSHS,Dietary Behaviors,Vegetables,No vegetable consumption,Did not eat vegetables,during the 30 days before the survey,%,...,13,NaN,C05,C19,G8,NaN,S7,A2,UGB,African
2,2011,SI,Solomon Islands,GSHS,Dietary Behaviors,Fruit,Fruit consumption >= 1 time,NaN,during the 30 days before the survey,%,...,13,NaN,C05,C41,QNFR1G,NaN,S8,A2,SI,Western Pacific
3,2015,SH,Seychelles,GSHS,Mental Health,Mental Health,Close Friends,Did not have close friends,NaN,%,...,17,NaN,C36,C46,G27,NaN,S8,A6,SH,African
4,2011,SI,Solomon Islands,GSHS,Dietary Behaviors,Body Weight,Overweight,Were overweight,>+1SD from the median for BMI by age and sex,%,...,13,NaN,C05,C39,QNOWTG,NaN,S8,A2,SI,Western Pacific
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
278233,2009,MWA,Malawi (Rural),GSHS,Dietary Behaviors,Fruits and Vegetables,Fruits and Vegetables,Did not usually eat fruits and vegetables five...,during the 30 days before the survey,%,...,13,NaN,C05,C42,QNFRVGG,NaN,S8,A2,MWA,African
278234,2003,PIA,Philippines (Luzon),GSHS,Alcohol and Other Drug Use,Alcohol Use,Drunk,Ever drank so much alcohol that they were real...,one or more times during their life,%,...,13-15,NaN,C03,C14,G38,NaN,S1,A7,PIA,Western Pacific
278235,2013,MG,Mongolia,GSHS,Protective Factors,Protective Factors,Parents check homework,Reported that their parents or guardians never...,during the 30 days before the survey,%,...,13,NaN,C37,C47,G55,NaN,S8,A2,MG,Western Pacific
278236,2011,YSD,Malaysia - D,GSHS,Alcohol and Other Drug Use,Other Drug Use,Ever marjiuana use,Ever used marijuana,one or more times during their life,%,...,15,NaN,C03,C15,G41,NaN,S8,A4,YSD,Western Pacific
278237,2003,SZA,Swaziland (Hhohho),GSHS,Alcohol and Other Drug Use,Alcohol Use,Current alcohol use,Currently drank alcohol,at least one drink containing alcohol on at le...,%,...,13,NaN,C03,C14,G35,NaN,S8,A2,SZA,African

In [4]:
print(mentalhealth_survey.Year.min())
print(mentalhealth_survey.Year.max())

2003
2015

In [7]:
mentalhealth = mentalhealth_survey[['Year', 'LocationAbbr', 'LocationDesc', 'Topic', 'Subtopic', 'ShortQuestionText',
                                    'Greater_Risk_Question', 'Description', 'Age', 'Sex', 'Data_Value_Symbol', 'Data_Value_Type',
                                    'Greater_Risk_Data_Value']]
mentalhealth

,Year,LocationAbbr,LocationDesc,Topic,Subtopic,ShortQuestionText,Greater_Risk_Question,Description,Age,Sex,Data_Value_Symbol,Data_Value_Type,Greater_Risk_Data_Value
0,2010,NU,Niue,Dietary Behaviors,Body Weight,Obesity,Were obese,>+2SD from the median for BMI by age and sex,13,Total,%,Percentage,NaN
1,2003,UGB,Uganda (Urban),Dietary Behaviors,Vegetables,No vegetable consumption,Did not eat vegetables,during the 30 days before the survey,13,Female,%,Percentage,NaN
2,2011,SI,Solomon Islands,Dietary Behaviors,Fruit,Fruit consumption >= 1 time,NaN,during the 30 days before the survey,13,Male,%,Percentage,NaN
3,2015,SH,Seychelles,Mental Health,Mental Health,Close Friends,Did not have close friends,NaN,17,Male,%,Percentage,NaN
4,2011,SI,Solomon Islands,Dietary Behaviors,Body Weight,Overweight,Were overweight,>+1SD from the median for BMI by age and sex,13,Male,%,Percentage,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...
278233,2009,MWA,Malawi (Rural),Dietary Behaviors,Fruits and Vegetables,Fruits and Vegetables,Did not usually eat fruits and vegetables five...,during the 30 days before the survey,13,Male,%,Percentage,67.5288
278234,2003,PIA,Philippines (Luzon),Alcohol and Other Drug Use,Alcohol Use,Drunk,Ever drank so much alcohol that they were real...,one or more times during their life,13-15,Total,%,Percentage,18.2705
278235,2013,MG,Mongolia,Protective Factors,Protective Factors,Parents check homework,Reported that their parents or guardians never...,during the 30 days before the survey,13,Male,%,Percentage,45.1579
278236,2011,YSD,Malaysia - D,Alcohol and Other Drug Use,Other Drug Use,Ever marjiuana use,Ever used marijuana,one or more times during their life,15,Male,%,Percentage,3.5121
278237,2003,SZA,Swaziland (Hhohho),Alcohol and Other Drug Use,Alcohol Use,Current alcohol use,Currently drank alcohol,at least one drink containing alcohol on at le...,13,Male,%,Percentage,16.5120

In [8]:
mentalhealth['Subtopic'].unique()

array(['Body Weight', 'Vegetables', 'Fruit', 'Mental Health',
       'Other Drug Use', 'Sexual Behaviors', 'Physical Activity',
       'Fast Food', 'Cigarette Use', 'Other Tobacco Use',
       'Behaviors that Contribute to Violence', 'HIV Infection and AIDS',
       'Protective Factors', 'Hunger', 'Fruits and Vegetables',
       'Alcohol Use', 'Hygiene', 'Soft Drinks'], dtype=object)

In [11]:
mentalhealth[mentalhealth['Subtopic'] == 'Behaviors that Contribute to Violence']['ShortQuestionText'].unique()

array(['Bullied', 'Seriously injured', 'Bullied by hitting',
       'Physically attacked', 'Serious injury/Broken bone',
       'Physical fight', 'Serious injury/Motor vehicle'], dtype=object)

In [22]:
bullied_children = mentalhealth[(mentalhealth['ShortQuestionText'] == 'Bullied')]
bullied_children.sort_values(by=['Year', 'LocationAbbr']).head(5)

,Year,LocationAbbr,LocationDesc,Topic,Subtopic,ShortQuestionText,Greater_Risk_Question,Description,Age,Sex,Data_Value_Symbol,Data_Value_Type,Greater_Risk_Data_Value
13770,2003,CNA,China (Beijing),Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,15,Total,%,Percentage,18.6539
24995,2003,CNA,China (Beijing),Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,14,Female,%,Percentage,18.6458
39959,2003,CNA,China (Beijing),Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,13,Male,%,Percentage,18.7822
53100,2003,CNA,China (Beijing),Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,14,Male,%,Percentage,27.1835
84842,2003,CNA,China (Beijing),Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,19.9575

### bullied_children df contains information on individual ages and sex. It also includes entries for combined ages and sex. I'd like to narrow it down to just the combined total for each country, but I need to make sure I'm not losing any countries by doing so.

In [26]:
len(bullied_children['LocationAbbr'].unique())
#len = 219

219

In [25]:
len(bullied_children[(bullied_children['Age'] == 'Total') &
                 ((bullied_children['Sex'] == 'Total'))]['LocationAbbr'].unique())
#len = 219
#no country will be lost

219

In [28]:
bullied_children = bullied_children[(bullied_children['Age'] == 'Total') &
                 ((bullied_children['Sex'] == 'Total'))]

bullied_children = bullied_children.sort_values(by=['Year', 'LocationAbbr'])

bullied_children.head()

,Year,LocationAbbr,LocationDesc,Topic,Subtopic,ShortQuestionText,Greater_Risk_Question,Description,Age,Sex,Data_Value_Symbol,Data_Value_Type,Greater_Risk_Data_Value
84842,2003,CNA,China (Beijing),Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,19.9575
201567,2003,CNB,China (Hangzhou),Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,32.0323
223318,2003,CNC,China (Wuhan),Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,31.9791
65494,2003,CND,China (Wurumqi),Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,31.5533
159852,2003,KE,Kenya,Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,57.7321

### saving bullied_children to a csv

In [42]:
bullied_children.to_csv('cleaned_data/global_bullied_children_2003_2015_ages_13_17_clean.csv')

## Looking into mental health subtopic

In [34]:
sad_children = mentalhealth[mentalhealth['Subtopic'] == 'Mental Health']
sad_children

,Year,LocationAbbr,LocationDesc,Topic,Subtopic,ShortQuestionText,Greater_Risk_Question,Description,Age,Sex,Data_Value_Symbol,Data_Value_Type,Greater_Risk_Data_Value
3,2015,SH,Seychelles,Mental Health,Mental Health,Close Friends,Did not have close friends,NaN,17,Male,%,Percentage,NaN
5,2009,MV,Maldives,Mental Health,Mental Health,Close Friends,Did not have close friends,NaN,15,Male,%,Percentage,12.2905
6,2009,MWB,Malawi (Urban),Mental Health,Mental Health,Close Friends,Did not have close friends,NaN,15,Male,%,Percentage,13.2630
15,2004,GY,Guyana,Mental Health,Mental Health,Close Friends,Did not have close friends,NaN,13,Total,%,Percentage,11.3370
17,2012,AGD,Argentina Chubut,Mental Health,Mental Health,Close Friends,Did not have close friends,NaN,Total,Female,%,Percentage,3.2256
...,...,...,...,...,...,...,...,...,...,...,...,...,...
278172,2009,GT,Guatemala,Mental Health,Mental Health,Could not sleep,Most of the time or always were so worried abo...,during the 12 months before the survey,14,Male,%,Percentage,6.4279
278198,2011,LBB,Lebanon (Public),Mental Health,Mental Health,Could not sleep,Most of the time or always were so worried abo...,during the 12 months before the survey,14,Total,%,Percentage,14.6301
278205,2008,TH,Thailand,Mental Health,Mental Health,Considered suicide,Seriously considered attempting suicide,during the 12 months before the survey,13-15,Total,%,Percentage,8.5017
278214,2010,MGA,Mongolia Rural,Mental Health,Mental Health,Could not sleep,Most of the time or always were so worried abo...,during the 12 months before the survey,14,Total,%,Percentage,4.0387
278225,2012,AGR,Argentina San Juan,Mental Health,Mental Health,Made a suicide plan,Made a plan about how they would attempt suicide,during the 12 months before the survey,Total,Female,%,Percentage,17.6132

In [35]:
sad_children['Greater_Risk_Question'].unique()

array(['Did not have close friends', 'Attempted suicide',
       'Seriously considered attempting suicide',
       'Most of the time or always felt lonely',
       'Most of the time or always were so worried about something that they could not sleep at night',
       'Made a plan about how they would attempt suicide'], dtype=object)

In [36]:
#making sure I wont't lose any countries by only taking the totals
#just like I did for bullied_children df

len(sad_children['LocationAbbr'].unique())
#len = 199

199

In [38]:
len(sad_children[(sad_children['Age'] == 'Total') &
                 ((sad_children['Sex'] == 'Total'))]['LocationAbbr'].unique())
#len = 199

199

In [39]:
sad_children = sad_children[(sad_children['Age'] == 'Total') &
                 ((sad_children['Sex'] == 'Total'))]

sad_children = sad_children.sort_values(by=['Year', 'LocationAbbr'])

sad_children.head()

,Year,LocationAbbr,LocationDesc,Topic,Subtopic,ShortQuestionText,Greater_Risk_Question,Description,Age,Sex,Data_Value_Symbol,Data_Value_Type,Greater_Risk_Data_Value
132659,2003,CNA,China (Beijing),Mental Health,Mental Health,Could not sleep,Most of the time or always were so worried abo...,during the 12 months before the survey,Total,Total,%,Percentage,4.5379
189964,2003,CNA,China (Beijing),Mental Health,Mental Health,Felt lonely,Most of the time or always felt lonely,during the 12 months before the survey,Total,Total,%,Percentage,6.6563
192210,2003,CNA,China (Beijing),Mental Health,Mental Health,Close Friends,Did not have close friends,NaN,Total,Total,%,Percentage,7.6368
250453,2003,CNA,China (Beijing),Mental Health,Mental Health,Made a suicide plan,Made a plan about how they would attempt suicide,during the 12 months before the survey,Total,Total,%,Percentage,6.7155
270912,2003,CNA,China (Beijing),Mental Health,Mental Health,Considered suicide,Seriously considered attempting suicide,during the 12 months before the survey,Total,Total,%,Percentage,14.2575

In [41]:
sad_children.to_csv('cleaned_data/global_sad_children_2003_2015_ages_13_17_clean.csv')