In [14]:
import pandas as pd
import re

In [40]:
df_2015 = pd.read_csv(r'C:\Users\alecb\Documents\NSS\Python\projects\alec_capstone\data\Internet Access\USA_2015_2021_csv\2015.csv')
df_2016 = pd.read_csv(r'C:\Users\alecb\Documents\NSS\Python\projects\alec_capstone\data\Internet Access\USA_2015_2021_csv\2016.csv')
df_2017 = pd.read_csv(r'C:\Users\alecb\Documents\NSS\Python\projects\alec_capstone\data\Internet Access\USA_2015_2021_csv\2017.csv')
df_2018 = pd.read_csv(r'C:\Users\alecb\Documents\NSS\Python\projects\alec_capstone\data\Internet Access\USA_2015_2021_csv\2018.csv')
df_2019 = pd.read_csv(r'C:\Users\alecb\Documents\NSS\Python\projects\alec_capstone\data\Internet Access\USA_2015_2021_csv\2019.csv')
df_2020 = pd.read_csv(r'C:\Users\alecb\Documents\NSS\Python\projects\alec_capstone\data\Internet Access\USA_2015_2021_csv\2020.csv')
df_2021 = pd.read_csv(r'C:\Users\alecb\Documents\NSS\Python\projects\alec_capstone\data\Internet Access\USA_2015_2021_csv\2021.csv')

In [120]:
df_1989_2012 = pd.read_csv(r'C:\Users\alecb\Documents\NSS\Python\projects\alec_capstone\cleaned_data\USA_internet_access_everyone_and_3_to_17_clean.csv')

In [121]:
df_1989_2012

,Year,Country,Individuals 3 - 17 (thousands),Individuals 3 -17,Percent of children with access,Description
0,1989,United States of America,0,0,0%,accesses internet
1,1995,United States of America,6255,6255000,9%,accesses internet
2,1998,United States of America,13566,13566000,19%,has access to internet at home
3,2000,United States of America,23892,23892000,33%,has access to internet at home
4,2001,United States of America,"27,602",27602000,50.40%,has access to internet at home
5,2003,United States of America,27197,27197000,54.70%,has access to internet at home
6,2007,United States of America,43835,43835000,67.10%,has access to internet at home
7,2009,United States of America,47293,47293000,73.50%,has access to internet at home
8,2010,United States of America,49715,49715000,75.90%,has access to internet at home
9,2011,United States of America,49544,49544000,76.50%,has access to internet at home
10,2012,United States of America,50835,50835000,79.30%,has access to internet at home

In [42]:
df_2015.head()

,Label (Grouping),Alabama!!Total!!Estimate,Alabama!!Total!!Margin of Error,Alabama!!With a computer !!Broadband Internet Subscription!!Estimate,Alabama!!With a computer !!Broadband Internet Subscription!!Margin of Error,Alabama!!With a computer !!Percent Broadband Internet Subscription!!Estimate,Alabama!!With a computer !!Percent Broadband Internet Subscription!!Margin of Error,Alabama!!With a computer !!Without an Internet Subscription!!Estimate,Alabama!!With a computer !!Without an Internet Subscription!!Margin of Error,Alabama!!With a computer !!Percent without an Internet Subscription!!Estimate,...,Puerto Rico!!With a computer !!Percent Broadband Internet Subscription!!Estimate,Puerto Rico!!With a computer !!Percent Broadband Internet Subscription!!Margin of Error,Puerto Rico!!With a computer !!Without an Internet Subscription!!Estimate,Puerto Rico!!With a computer !!Without an Internet Subscription!!Margin of Error,Puerto Rico!!With a computer !!Percent without an Internet Subscription!!Estimate,Puerto Rico!!With a computer !!Percent without an Internet Subscription!!Margin of Error,Puerto Rico!!No computer in household!!Estimate,Puerto Rico!!No computer in household!!Margin of Error,Puerto Rico!!Percent no computer in household!!Estimate,Puerto Rico!!Percent no computer in household!!Margin of Error
0,Total population in households,"4,739,380",*****,"3,468,577","±27,422",73.2%,±0.6,"581,308","±22,453",12.3%,...,54.8%,±0.7,"406,347","±16,308",11.8%,±0.5,"1,132,977","±21,696",33.0%,±0.6
1,AGE,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Under 18 years,"1,106,293","±3,254","858,157","±10,358",77.6%,±0.9,"154,649","±8,991",14.0%,...,61.7%,±1.3,"109,953","±6,686",14.9%,±0.9,"168,725","±8,563",22.9%,±1.2
3,18 to 64 years,"2,890,998","±4,197","2,183,715","±18,636",75.5%,±0.7,"357,432","±14,841",12.4%,...,59.1%,±0.8,"252,082","±10,865",12.1%,±0.5,"593,482","±14,677",28.5%,±0.7
4,65 years and over,"742,089","±3,029","426,705","±7,149",57.5%,±0.9,"69,227","±3,741",9.3%,...,32.1%,±1.0,"44,312","±3,724",7.2%,±0.6,"370,770","±6,811",60.3%,±1.1

In [43]:
df_2015.columns[1]

'Alabama!!Total!!Estimate'

In [47]:
year = []
state_total_estimate = []
total_estimate = []
state_access = []
individuals_access = []

for i in range(0, len(df_2015.columns)):
    
    if 'Total!!Estimate' in df_2015.columns[i]:
        year.append('2015')
        state_total_estimate.append(df_2015.columns[i].split('!!')[0])
        total_estimate.append(df_2015[df_2015.columns[i]][2])
        print('total estimate', df_2015.columns[i].split('!!')[0], df_2015[df_2015.columns[i]][2])
        
    if '!!With a computer !!Broadband Internet Subscription!!Estimate' in df_2015.columns[i]:
        year.append('2015')
        state_access.append(df_2015.columns[i].split('!!')[0])
        individuals_access.append(df_2015[df_2015.columns[i]][2])
        print('with access', df_2015.columns[i].split('!!')[0], df_2015[df_2015.columns[i]][2])

total estimate Alabama 1,106,293
with access Alabama 858,157
total estimate Alaska 185,534
with access Alaska 162,511
total estimate Arizona 1,618,861
with access Arizona 1,323,334
total estimate Arkansas 702,195
with access Arkansas 495,295
total estimate California 9,097,914
with access California 7,707,350
total estimate Colorado 1,253,909
with access Colorado 1,113,220
total estimate Connecticut 761,030
with access Connecticut 696,471
total estimate Delaware 203,545
with access Delaware 168,265
total estimate District of Columbia 116,927
with access District of Columbia 88,140
total estimate Florida 4,088,990
with access Florida 3,378,793
total estimate Georgia 2,497,644
with access Georgia 1,994,059
total estimate Hawaii 309,711
with access Hawaii 281,487
total estimate Idaho 430,251
with access Idaho 371,264
total estimate Illinois 2,954,616
with access Illinois 2,515,972
total estimate Indiana 1,575,789
with access Indiana 1,268,845
total estimate Iowa 726,089
with access Iowa 621,786
total estimate Kansas 718,852
with access Kansas 613,523
total estimate Kentucky 1,008,114
with access Kentucky 810,194
total estimate Louisiana 1,114,329
with access Louisiana 861,738
total estimate Maine 255,251
with access Maine 225,001
total estimate Maryland 1,345,020
with access Maryland 1,171,037
total estimate Massachusetts 1,381,629
with access Massachusetts 1,265,047
total estimate Michigan 2,201,820
with access Michigan 1,830,574
total estimate Minnesota 1,278,646
with access Minnesota 1,143,432
total estimate Mississippi 725,662
with access Mississippi 495,357
total estimate Missouri 1,386,641
with access Missouri 1,134,484
total estimate Montana 224,671
with access Montana 187,575
total estimate Nebraska 468,019
with access Nebraska 415,293
total estimate Nevada 667,452
with access Nevada 556,830
total estimate New Hampshire 262,519
with access New Hampshire 241,879
total estimate New Jersey 1,992,686
with access New Jersey 1,770,053
total estimate New Mexico 498,200
with access New Mexico 361,691
total estimate New York 4,187,616
with access New York 3,524,831
total estimate North Carolina 2,281,906
with access North Carolina 1,877,077
total estimate North Dakota 170,673
with access North Dakota 150,852
total estimate Ohio 2,625,727
with access Ohio 2,237,524
total estimate Oklahoma 957,560
with access Oklahoma 752,218
total estimate Oregon 858,234
with access Oregon 763,512
total estimate Pennsylvania 2,680,763
with access Pennsylvania 2,307,796
total estimate Rhode Island 211,090
with access Rhode Island 187,456
total estimate South Carolina 1,086,138
with access South Carolina 839,658
total estimate South Dakota 208,561
with access South Dakota 173,811
total estimate Tennessee 1,490,040
with access Tennessee 1,167,835
total estimate Texas 7,194,057
with access Texas 5,513,159
total estimate Utah 908,856
with access Utah 816,862
total estimate Vermont 119,460
with access Vermont 104,686
total estimate Virginia 1,865,835
with access Virginia 1,612,785
total estimate Washington 1,609,659
with access Washington 1,445,275
total estimate West Virginia 378,213
with access West Virginia 319,000
total estimate Wisconsin 1,289,359
with access Wisconsin 1,105,979
total estimate Wyoming 138,841
with access Wyoming 120,714
total estimate Puerto Rico 735,524
with access Puerto Rico 453,885

In [38]:
  state_total_estimate

['Alabama',
 'Alaska',
 'Arizona',
 'Arkansas',
 'California',
 'Colorado',
 'Connecticut',
 'Delaware',
 'District of Columbia',
 'Florida',
 'Georgia',
 'Hawaii',
 'Idaho',
 'Illinois',
 'Indiana',
 'Iowa',
 'Kansas',
 'Kentucky',
 'Louisiana',
 'Maine',
 'Maryland',
 'Massachusetts',
 'Michigan',
 'Minnesota',
 'Mississippi',
 'Missouri',
 'Montana',
 'Nebraska',
 'Nevada',
 'New Hampshire',
 'New Jersey',
 'New Mexico',
 'New York',
 'North Carolina',
 'North Dakota',
 'Ohio',
 'Oklahoma',
 'Oregon',
 'Pennsylvania',
 'Rhode Island',
 'South Carolina',
 'South Dakota',
 'Tennessee',
 'Texas',
 'Utah',
 'Vermont',
 'Virginia',
 'Washington',
 'West Virginia',
 'Wisconsin',
 'Wyoming',
 'Puerto Rico']

In [48]:
internet_access_2015df = pd.DataFrame(list(zip(year, state_total_estimate,
                                           total_estimate, state_access, individuals_access)),
               columns =['year', 'state_total_estimate', 'total_estimat',
                         'state_access', 'individuals_access' ])
internet_access_2015df

,year,state_total_estimate,total_estimat,state_access,individuals_access
0,2015,Alabama,"1,106,293",Alabama,"858,157"
1,2015,Alaska,"185,534",Alaska,"162,511"
2,2015,Arizona,"1,618,861",Arizona,"1,323,334"
3,2015,Arkansas,"702,195",Arkansas,"495,295"
4,2015,California,"9,097,914",California,"7,707,350"
5,2015,Colorado,"1,253,909",Colorado,"1,113,220"
6,2015,Connecticut,"761,030",Connecticut,"696,471"
7,2015,Delaware,"203,545",Delaware,"168,265"
8,2015,District of Columbia,"116,927",District of Columbia,"88,140"
9,2015,Florida,"4,088,990",Florida,"3,378,793"
10,2015,Georgia,"2,497,644",Georgia,"1,994,059"
11,2015,Hawaii,"309,711",Hawaii,"281,487"
12,2015,Idaho,"430,251",Idaho,"371,264"
13,2015,Illinois,"2,954,616",Illinois,"2,515,972"
14,2015,Indiana,"1,575,789",Indiana,"1,268,845"
15,2015,Iowa,"726,089",Iowa,"621,786"
16,2015,Kansas,"718,852",Kansas,"613,523"
17,2015,Kentucky,"1,008,114",Kentucky,"810,194"
18,2015,Louisiana,"1,114,329",Louisiana,"861,738"
19,2015,Maine,"255,251",Maine,"225,001"
20,2015,Maryland,"1,345,020",Maryland,"1,171,037"
21,2015,Massachusetts,"1,381,629",Massachusetts,"1,265,047"
22,2015,Michigan,"2,201,820",Michigan,"1,830,574"
23,2015,Minnesota,"1,278,646",Minnesota,"1,143,432"
24,2015,Mississippi,"725,662",Mississippi,"495,357"
25,2015,Missouri,"1,386,641",Missouri,"1,134,484"
26,2015,Montana,"224,671",Montana,"187,575"
27,2015,Nebraska,"468,019",Nebraska,"415,293"
28,2015,Nevada,"667,452",Nevada,"556,830"
29,2015,New Hampshire,"262,519",New Hampshire,"241,879"
30,2015,New Jersey,"1,992,686",New Jersey,"1,770,053"
31,2015,New Mexico,"498,200",New Mexico,"361,691"
32,2015,New York,"4,187,616",New York,"3,524,831"
33,2015,North Carolina,"2,281,906",North Carolina,"1,877,077"
34,2015,North Dakota,"170,673",North Dakota,"150,852"
35,2015,Ohio,"2,625,727",Ohio,"2,237,524"
36,2015,Oklahoma,"957,560",Oklahoma,"752,218"
37,2015,Oregon,"858,234",Oregon,"763,512"
38,2015,Pennsylvania,"2,680,763",Pennsylvania,"2,307,796"
39,2015,Rhode Island,"211,090",Rhode Island,"187,456"
40,2015,South Carolina,"1,086,138",South Carolina,"839,658"
41,2015,South Dakota,"208,561",South Dakota,"173,811"
42,2015,Tennessee,"1,490,040",Tennessee,"1,167,835"
43,2015,Texas,"7,194,057",Texas,"5,513,159"
44,2015,Utah,"908,856",Utah,"816,862"
45,2015,Vermont,"119,460",Vermont,"104,686"
46,2015,Virginia,"1,865,835",Virginia,"1,612,785"
47,2015,Washington,"1,609,659",Washington,"1,445,275"
48,2015,West Virginia,"378,213",West Virginia,"319,000"
49,2015,Wisconsin,"1,289,359",Wisconsin,"1,105,979"
50,2015,Wyoming,"138,841",Wyoming,"120,714"
51,2015,Puerto Rico,"735,524",Puerto Rico,"453,885"

In [49]:
year = []
state_total_estimate = []
total_estimate = []
state_access = []
individuals_access = []

for i in range(0, len(df_2016.columns)):
    
    if 'Total!!Estimate' in df_2016.columns[i]:
        year.append('2016')
        state_total_estimate.append(df_2016.columns[i].split('!!')[0])
        total_estimate.append(df_2016[df_2016.columns[i]][2])
        print('total estimate', df_2016.columns[i].split('!!')[0], df_2016[df_2016.columns[i]][2])
        
    if '!!With a computer !!Broadband Internet Subscription!!Estimate' in df_2016.columns[i]:
        state_access.append(df_2016.columns[i].split('!!')[0])
        individuals_access.append(df_2016[df_2016.columns[i]][2])
        print('with access', df_2016.columns[i].split('!!')[0], df_2016[df_2016.columns[i]][2])

total estimate Alabama 1,097,221
with access Alabama 935,646
total estimate Alaska 186,806
with access Alaska 169,765
total estimate Arizona 1,628,590
with access Arizona 1,422,177
total estimate Arkansas 704,647
with access Arkansas 554,220
total estimate California 9,073,284
with access California 8,129,553
total estimate Colorado 1,257,916
with access Colorado 1,167,333
total estimate Connecticut 750,763
with access Connecticut 703,113
total estimate Delaware 203,603
with access Delaware 181,667
total estimate District of Columbia 120,168
with access District of Columbia 96,043
total estimate Florida 4,133,530
with access Florida 3,575,414
total estimate Georgia 2,505,372
with access Georgia 2,195,216
total estimate Hawaii 306,859
with access Hawaii 278,016
total estimate Idaho 435,239
with access Idaho 400,545
total estimate Illinois 2,918,089
with access Illinois 2,655,717
total estimate Indiana 1,571,675
with access Indiana 1,372,297
total estimate Iowa 724,575
with access Iowa 654,832
total estimate Kansas 712,627
with access Kansas 639,678
total estimate Kentucky 1,009,088
with access Kentucky 890,086
total estimate Louisiana 1,115,188
with access Louisiana 944,857
total estimate Maine 254,167
with access Maine 231,561
total estimate Maryland 1,343,370
with access Maryland 1,235,861
total estimate Massachusetts 1,372,524
with access Massachusetts 1,290,725
total estimate Michigan 2,185,062
with access Michigan 1,949,033
total estimate Minnesota 1,283,276
with access Minnesota 1,191,607
total estimate Mississippi 720,552
with access Mississippi 594,709
total estimate Missouri 1,384,804
with access Missouri 1,219,334
total estimate Montana 227,405
with access Montana 200,564
total estimate Nebraska 472,493
with access Nebraska 433,083
total estimate Nevada 675,977
with access Nevada 581,150
total estimate New Hampshire 259,127
with access New Hampshire 246,384
total estimate New Jersey 1,979,553
with access New Jersey 1,781,502
total estimate New Mexico 487,713
with access New Mexico 391,759
total estimate New York 4,153,616
with access New York 3,648,470
total estimate North Carolina 2,290,861
with access North Carolina 1,988,121
total estimate North Dakota 173,849
with access North Dakota 158,281
total estimate Ohio 2,604,031
with access Ohio 2,346,229
total estimate Oklahoma 959,366
with access Oklahoma 815,485
total estimate Oregon 865,279
with access Oregon 798,917
total estimate Pennsylvania 2,663,922
with access Pennsylvania 2,408,618
total estimate Rhode Island 207,806
with access Rhode Island 194,620
total estimate South Carolina 1,096,675
with access South Carolina 952,704
total estimate South Dakota 212,742
with access South Dakota 184,788
total estimate Tennessee 1,500,270
with access Tennessee 1,282,377
total estimate Texas 7,275,916
with access Texas 6,130,670
total estimate Utah 918,765
with access Utah 847,060
total estimate Vermont 118,249
with access Vermont 107,704
total estimate Virginia 1,863,541
with access Virginia 1,710,987
total estimate Washington 1,626,757
with access Washington 1,528,370
total estimate West Virginia 375,537
with access West Virginia 330,372
total estimate Wisconsin 1,283,467
with access Wisconsin 1,173,074
total estimate Wyoming 140,269
with access Wyoming 130,638
total estimate Puerto Rico 694,108
with access Puerto Rico 500,899

In [50]:
internet_access_2016df = pd.DataFrame(list(zip(year, state_total_estimate,
                                           total_estimate, state_access, individuals_access)),
               columns =['year', 'state_total_estimate', 'total_estimat',
                         'state_access', 'individuals_access' ])
internet_access_2016df

,year,state_total_estimate,total_estimat,state_access,individuals_access
0,2016,Alabama,"1,097,221",Alabama,"935,646"
1,2016,Alaska,"186,806",Alaska,"169,765"
2,2016,Arizona,"1,628,590",Arizona,"1,422,177"
3,2016,Arkansas,"704,647",Arkansas,"554,220"
4,2016,California,"9,073,284",California,"8,129,553"
5,2016,Colorado,"1,257,916",Colorado,"1,167,333"
6,2016,Connecticut,"750,763",Connecticut,"703,113"
7,2016,Delaware,"203,603",Delaware,"181,667"
8,2016,District of Columbia,"120,168",District of Columbia,"96,043"
9,2016,Florida,"4,133,530",Florida,"3,575,414"
10,2016,Georgia,"2,505,372",Georgia,"2,195,216"
11,2016,Hawaii,"306,859",Hawaii,"278,016"
12,2016,Idaho,"435,239",Idaho,"400,545"
13,2016,Illinois,"2,918,089",Illinois,"2,655,717"
14,2016,Indiana,"1,571,675",Indiana,"1,372,297"
15,2016,Iowa,"724,575",Iowa,"654,832"
16,2016,Kansas,"712,627",Kansas,"639,678"
17,2016,Kentucky,"1,009,088",Kentucky,"890,086"
18,2016,Louisiana,"1,115,188",Louisiana,"944,857"
19,2016,Maine,"254,167",Maine,"231,561"
20,2016,Maryland,"1,343,370",Maryland,"1,235,861"
21,2016,Massachusetts,"1,372,524",Massachusetts,"1,290,725"
22,2016,Michigan,"2,185,062",Michigan,"1,949,033"
23,2016,Minnesota,"1,283,276",Minnesota,"1,191,607"
24,2016,Mississippi,"720,552",Mississippi,"594,709"
25,2016,Missouri,"1,384,804",Missouri,"1,219,334"
26,2016,Montana,"227,405",Montana,"200,564"
27,2016,Nebraska,"472,493",Nebraska,"433,083"
28,2016,Nevada,"675,977",Nevada,"581,150"
29,2016,New Hampshire,"259,127",New Hampshire,"246,384"
30,2016,New Jersey,"1,979,553",New Jersey,"1,781,502"
31,2016,New Mexico,"487,713",New Mexico,"391,759"
32,2016,New York,"4,153,616",New York,"3,648,470"
33,2016,North Carolina,"2,290,861",North Carolina,"1,988,121"
34,2016,North Dakota,"173,849",North Dakota,"158,281"
35,2016,Ohio,"2,604,031",Ohio,"2,346,229"
36,2016,Oklahoma,"959,366",Oklahoma,"815,485"
37,2016,Oregon,"865,279",Oregon,"798,917"
38,2016,Pennsylvania,"2,663,922",Pennsylvania,"2,408,618"
39,2016,Rhode Island,"207,806",Rhode Island,"194,620"
40,2016,South Carolina,"1,096,675",South Carolina,"952,704"
41,2016,South Dakota,"212,742",South Dakota,"184,788"
42,2016,Tennessee,"1,500,270",Tennessee,"1,282,377"
43,2016,Texas,"7,275,916",Texas,"6,130,670"
44,2016,Utah,"918,765",Utah,"847,060"
45,2016,Vermont,"118,249",Vermont,"107,704"
46,2016,Virginia,"1,863,541",Virginia,"1,710,987"
47,2016,Washington,"1,626,757",Washington,"1,528,370"
48,2016,West Virginia,"375,537",West Virginia,"330,372"
49,2016,Wisconsin,"1,283,467",Wisconsin,"1,173,074"
50,2016,Wyoming,"140,269",Wyoming,"130,638"
51,2016,Puerto Rico,"694,108",Puerto Rico,"500,899"

In [51]:
year = []
state_total_estimate = []
total_estimate = []
state_access = []
individuals_access = []

for i in range(0, len(df_2017.columns)):
    
    if 'Total!!Estimate' in df_2017.columns[i]:
        year.append('2017')
        state_total_estimate.append(df_2017.columns[i].split('!!')[0])
        total_estimate.append(df_2017[df_2017.columns[i]][2])
        print('total estimate', df_2017.columns[i].split('!!')[0], df_2017[df_2017.columns[i]][2])
        
    if '!!With a computer !!Broadband Internet Subscription!!Estimate' in df_2017.columns[i]:
        state_access.append(df_2017.columns[i].split('!!')[0])
        individuals_access.append(df_2017[df_2017.columns[i]][2])
        print('with access', df_2017.columns[i].split('!!')[0], df_2017[df_2017.columns[i]][2])

total estimate Alabama 1,092,073
with access Alabama 967,201
total estimate Alaska 184,501
with access Alaska 168,220
total estimate Arizona 1,628,174
with access Arizona 1,454,794
total estimate Arkansas 706,429
with access Arkansas 570,715
total estimate California 9,035,623
with access California 8,318,175
total estimate Colorado 1,259,366
with access Colorado 1,177,416
total estimate Connecticut 740,449
with access Connecticut 697,590
total estimate Delaware 203,417
with access Delaware 187,035
total estimate District of Columbia 123,954
with access District of Columbia 103,059
total estimate Florida 4,188,677
with access Florida 3,686,096
total estimate Georgia 2,510,161
with access Georgia 2,229,333
total estimate Hawaii 303,653
with access Hawaii 278,364
total estimate Idaho 442,536
with access Idaho 415,089
total estimate Illinois 2,890,464
with access Illinois 2,684,298
total estimate Indiana 1,567,263
with access Indiana 1,380,731
total estimate Iowa 727,027
with access Iowa 670,780
total estimate Kansas 710,321
with access Kansas 647,636
total estimate Kentucky 1,011,218
with access Kentucky 893,813
total estimate Louisiana 1,107,369
with access Louisiana 945,376
total estimate Maine 252,679
with access Maine 236,371
total estimate Maryland 1,344,798
with access Maryland 1,263,527
total estimate Massachusetts 1,364,881
with access Massachusetts 1,287,998
total estimate Michigan 2,169,986
with access Michigan 1,987,080
total estimate Minnesota 1,293,283
with access Minnesota 1,224,073
total estimate Mississippi 711,206
with access Mississippi 594,525
total estimate Missouri 1,381,027
with access Missouri 1,229,994
total estimate Montana 228,197
with access Montana 202,095
total estimate Nebraska 472,399
with access Nebraska 439,784
total estimate Nevada 682,699
with access Nevada 604,316
total estimate New Hampshire 257,414
with access New Hampshire 245,772
total estimate New Jersey 1,972,892
with access New Jersey 1,813,545
total estimate New Mexico 488,386
with access New Mexico 404,444
total estimate New York 4,128,798
with access New York 3,683,295
total estimate North Carolina 2,296,418
with access North Carolina 2,065,227
total estimate North Dakota 172,686
with access North Dakota 151,851
total estimate Ohio 2,596,822
with access Ohio 2,381,435
total estimate Oklahoma 959,059
with access Oklahoma 844,027
total estimate Oregon 870,725
with access Oregon 813,935
total estimate Pennsylvania 2,654,629
with access Pennsylvania 2,431,300
total estimate Rhode Island 206,165
with access Rhode Island 196,846
total estimate South Carolina 1,098,484
with access South Carolina 962,288
total estimate South Dakota 211,042
with access South Dakota 187,146
total estimate Tennessee 1,504,948
with access Tennessee 1,324,810
total estimate Texas 7,352,043
with access Texas 6,410,162
total estimate Utah 922,915
with access Utah 863,795
total estimate Vermont 117,424
with access Vermont 106,639
total estimate Virginia 1,863,065
with access Virginia 1,699,030
total estimate Washington 1,643,320
with access Washington 1,559,712
total estimate West Virginia 371,786
with access West Virginia 333,384
total estimate Wisconsin 1,278,523
with access Wisconsin 1,177,129
total estimate Wyoming 137,500
with access Wyoming 126,408
total estimate Puerto Rico 654,424
with access Puerto Rico 500,035

In [52]:
internet_access_2017df = pd.DataFrame(list(zip(year, state_total_estimate,
                                           total_estimate, state_access, individuals_access)),
               columns =['year', 'state_total_estimate', 'total_estimat',
                         'state_access', 'individuals_access' ])
internet_access_2017df

,year,state_total_estimate,total_estimat,state_access,individuals_access
0,2017,Alabama,"1,092,073",Alabama,"967,201"
1,2017,Alaska,"184,501",Alaska,"168,220"
2,2017,Arizona,"1,628,174",Arizona,"1,454,794"
3,2017,Arkansas,"706,429",Arkansas,"570,715"
4,2017,California,"9,035,623",California,"8,318,175"
5,2017,Colorado,"1,259,366",Colorado,"1,177,416"
6,2017,Connecticut,"740,449",Connecticut,"697,590"
7,2017,Delaware,"203,417",Delaware,"187,035"
8,2017,District of Columbia,"123,954",District of Columbia,"103,059"
9,2017,Florida,"4,188,677",Florida,"3,686,096"
10,2017,Georgia,"2,510,161",Georgia,"2,229,333"
11,2017,Hawaii,"303,653",Hawaii,"278,364"
12,2017,Idaho,"442,536",Idaho,"415,089"
13,2017,Illinois,"2,890,464",Illinois,"2,684,298"
14,2017,Indiana,"1,567,263",Indiana,"1,380,731"
15,2017,Iowa,"727,027",Iowa,"670,780"
16,2017,Kansas,"710,321",Kansas,"647,636"
17,2017,Kentucky,"1,011,218",Kentucky,"893,813"
18,2017,Louisiana,"1,107,369",Louisiana,"945,376"
19,2017,Maine,"252,679",Maine,"236,371"
20,2017,Maryland,"1,344,798",Maryland,"1,263,527"
21,2017,Massachusetts,"1,364,881",Massachusetts,"1,287,998"
22,2017,Michigan,"2,169,986",Michigan,"1,987,080"
23,2017,Minnesota,"1,293,283",Minnesota,"1,224,073"
24,2017,Mississippi,"711,206",Mississippi,"594,525"
25,2017,Missouri,"1,381,027",Missouri,"1,229,994"
26,2017,Montana,"228,197",Montana,"202,095"
27,2017,Nebraska,"472,399",Nebraska,"439,784"
28,2017,Nevada,"682,699",Nevada,"604,316"
29,2017,New Hampshire,"257,414",New Hampshire,"245,772"
30,2017,New Jersey,"1,972,892",New Jersey,"1,813,545"
31,2017,New Mexico,"488,386",New Mexico,"404,444"
32,2017,New York,"4,128,798",New York,"3,683,295"
33,2017,North Carolina,"2,296,418",North Carolina,"2,065,227"
34,2017,North Dakota,"172,686",North Dakota,"151,851"
35,2017,Ohio,"2,596,822",Ohio,"2,381,435"
36,2017,Oklahoma,"959,059",Oklahoma,"844,027"
37,2017,Oregon,"870,725",Oregon,"813,935"
38,2017,Pennsylvania,"2,654,629",Pennsylvania,"2,431,300"
39,2017,Rhode Island,"206,165",Rhode Island,"196,846"
40,2017,South Carolina,"1,098,484",South Carolina,"962,288"
41,2017,South Dakota,"211,042",South Dakota,"187,146"
42,2017,Tennessee,"1,504,948",Tennessee,"1,324,810"
43,2017,Texas,"7,352,043",Texas,"6,410,162"
44,2017,Utah,"922,915",Utah,"863,795"
45,2017,Vermont,"117,424",Vermont,"106,639"
46,2017,Virginia,"1,863,065",Virginia,"1,699,030"
47,2017,Washington,"1,643,320",Washington,"1,559,712"
48,2017,West Virginia,"371,786",West Virginia,"333,384"
49,2017,Wisconsin,"1,278,523",Wisconsin,"1,177,129"
50,2017,Wyoming,"137,500",Wyoming,"126,408"
51,2017,Puerto Rico,"654,424",Puerto Rico,"500,035"

In [61]:
year = []
state_total_estimate = []
total_estimate = []
state_access = []
individuals_access = []

for i in range(0, len(df_2018.columns)):
    
    if 'Total!!Estimate' in df_2018.columns[i]:
        year.append('2018')
        state_total_estimate.append(df_2018.columns[i].split('!!')[0])
        total_estimate.append(df_2018[df_2018.columns[i]][2])
        print('total estimate', df_2018.columns[i].split('!!')[0], df_2018[df_2018.columns[i]][2])
        
    if '!!With a computer!!Broadband Internet Subscription!!Estimate' in df_2018.columns[i]:
        state_access.append(df_2018.columns[i].split('!!')[0])
        individuals_access.append(df_2018[df_2018.columns[i]][2])
        print('with access', df_2018.columns[i].split('!!')[0], df_2018[df_2018.columns[i]][2])

total estimate Alabama 1,087,113
with access Alabama 965,335
total estimate Alaska 183,022
with access Alaska 167,886
total estimate Arizona 1,638,551
with access Arizona 1,475,931
total estimate Arkansas 701,077
with access Arkansas 599,945
total estimate California 8,960,741
with access California 8,328,151
total estimate Colorado 1,263,086
with access Colorado 1,189,837
total estimate Connecticut 733,365
with access Connecticut 701,343
total estimate Delaware 202,321
with access Delaware 189,471
total estimate District of Columbia 126,369
with access District of Columbia 112,046
total estimate Florida 4,216,391
with access Florida 3,786,748
total estimate Georgia 2,498,444
with access Georgia 2,236,511
total estimate Hawaii 301,548
with access Hawaii 281,253
total estimate Idaho 444,289
with access Idaho 418,035
total estimate Illinois 2,851,360
with access Illinois 2,657,102
total estimate Indiana 1,561,110
with access Indiana 1,407,022
total estimate Iowa 729,779
with access Iowa 681,152
total estimate Kansas 703,353
with access Kansas 649,001
total estimate Kentucky 1,004,473
with access Kentucky 908,311
total estimate Louisiana 1,095,456
with access Louisiana 946,945
total estimate Maine 247,386
with access Maine 232,632
total estimate Maryland 1,335,211
with access Maryland 1,256,786
total estimate Massachusetts 1,361,909
with access Massachusetts 1,297,296
total estimate Michigan 2,157,039
with access Michigan 1,984,287
total estimate Minnesota 1,298,698
with access Minnesota 1,237,679
total estimate Mississippi 703,496
with access Mississippi 605,796
total estimate Missouri 1,373,605
with access Missouri 1,263,862
total estimate Montana 228,409
with access Montana 212,028
total estimate Nebraska 472,638
with access Nebraska 450,413
total estimate Nevada 687,761
with access Nevada 619,581
total estimate New Hampshire 257,660
with access New Hampshire 247,714
total estimate New Jersey 1,946,884
with access New Jersey 1,811,974
total estimate New Mexico 478,544
with access New Mexico 395,912
total estimate New York 4,041,449
with access New York 3,652,996
total estimate North Carolina 2,291,790
with access North Carolina 2,084,610
total estimate North Dakota 174,306
with access North Dakota 158,010
total estimate Ohio 2,585,025
with access Ohio 2,385,438
total estimate Oklahoma 953,641
with access Oklahoma 860,966
total estimate Oregon 868,682
with access Oregon 820,462
total estimate Pennsylvania 2,634,076
with access Pennsylvania 2,450,501
total estimate Rhode Island 203,309
with access Rhode Island 193,155
total estimate South Carolina 1,101,345
with access South Carolina 983,237
total estimate South Dakota 213,040
with access South Dakota 189,703
total estimate Tennessee 1,506,945
with access Tennessee 1,349,172
total estimate Texas 7,383,080
with access Texas 6,538,068
total estimate Utah 928,840
with access Utah 891,277
total estimate Vermont 115,034
with access Vermont 104,802
total estimate Virginia 1,864,820
with access Virginia 1,738,134
total estimate Washington 1,657,928
with access Washington 1,577,718
total estimate West Virginia 361,346
with access West Virginia 330,352
total estimate Wisconsin 1,270,019
with access Wisconsin 1,184,559
total estimate Wyoming 132,484
with access Wyoming 125,033
total estimate Puerto Rico 593,064
with access Puerto Rico 452,734

In [62]:
internet_access_2018df = pd.DataFrame(list(zip(year, state_total_estimate,
                                           total_estimate, state_access, individuals_access)),
               columns =['year', 'state_total_estimate', 'total_estimat',
                         'state_access', 'individuals_access' ])
internet_access_2018df

,year,state_total_estimate,total_estimat,state_access,individuals_access
0,2018,Alabama,"1,087,113",Alabama,"965,335"
1,2018,Alaska,"183,022",Alaska,"167,886"
2,2018,Arizona,"1,638,551",Arizona,"1,475,931"
3,2018,Arkansas,"701,077",Arkansas,"599,945"
4,2018,California,"8,960,741",California,"8,328,151"
5,2018,Colorado,"1,263,086",Colorado,"1,189,837"
6,2018,Connecticut,"733,365",Connecticut,"701,343"
7,2018,Delaware,"202,321",Delaware,"189,471"
8,2018,District of Columbia,"126,369",District of Columbia,"112,046"
9,2018,Florida,"4,216,391",Florida,"3,786,748"
10,2018,Georgia,"2,498,444",Georgia,"2,236,511"
11,2018,Hawaii,"301,548",Hawaii,"281,253"
12,2018,Idaho,"444,289",Idaho,"418,035"
13,2018,Illinois,"2,851,360",Illinois,"2,657,102"
14,2018,Indiana,"1,561,110",Indiana,"1,407,022"
15,2018,Iowa,"729,779",Iowa,"681,152"
16,2018,Kansas,"703,353",Kansas,"649,001"
17,2018,Kentucky,"1,004,473",Kentucky,"908,311"
18,2018,Louisiana,"1,095,456",Louisiana,"946,945"
19,2018,Maine,"247,386",Maine,"232,632"
20,2018,Maryland,"1,335,211",Maryland,"1,256,786"
21,2018,Massachusetts,"1,361,909",Massachusetts,"1,297,296"
22,2018,Michigan,"2,157,039",Michigan,"1,984,287"
23,2018,Minnesota,"1,298,698",Minnesota,"1,237,679"
24,2018,Mississippi,"703,496",Mississippi,"605,796"
25,2018,Missouri,"1,373,605",Missouri,"1,263,862"
26,2018,Montana,"228,409",Montana,"212,028"
27,2018,Nebraska,"472,638",Nebraska,"450,413"
28,2018,Nevada,"687,761",Nevada,"619,581"
29,2018,New Hampshire,"257,660",New Hampshire,"247,714"
30,2018,New Jersey,"1,946,884",New Jersey,"1,811,974"
31,2018,New Mexico,"478,544",New Mexico,"395,912"
32,2018,New York,"4,041,449",New York,"3,652,996"
33,2018,North Carolina,"2,291,790",North Carolina,"2,084,610"
34,2018,North Dakota,"174,306",North Dakota,"158,010"
35,2018,Ohio,"2,585,025",Ohio,"2,385,438"
36,2018,Oklahoma,"953,641",Oklahoma,"860,966"
37,2018,Oregon,"868,682",Oregon,"820,462"
38,2018,Pennsylvania,"2,634,076",Pennsylvania,"2,450,501"
39,2018,Rhode Island,"203,309",Rhode Island,"193,155"
40,2018,South Carolina,"1,101,345",South Carolina,"983,237"
41,2018,South Dakota,"213,040",South Dakota,"189,703"
42,2018,Tennessee,"1,506,945",Tennessee,"1,349,172"
43,2018,Texas,"7,383,080",Texas,"6,538,068"
44,2018,Utah,"928,840",Utah,"891,277"
45,2018,Vermont,"115,034",Vermont,"104,802"
46,2018,Virginia,"1,864,820",Virginia,"1,738,134"
47,2018,Washington,"1,657,928",Washington,"1,577,718"
48,2018,West Virginia,"361,346",West Virginia,"330,352"
49,2018,Wisconsin,"1,270,019",Wisconsin,"1,184,559"
50,2018,Wyoming,"132,484",Wyoming,"125,033"
51,2018,Puerto Rico,"593,064",Puerto Rico,"452,734"

In [63]:
year = []
state_total_estimate = []
total_estimate = []
state_access = []
individuals_access = []

for i in range(0, len(df_2019.columns)):
    
    if 'Total!!Estimate' in df_2019.columns[i]:
        year.append('2019')
        state_total_estimate.append(df_2019.columns[i].split('!!')[0])
        total_estimate.append(df_2019[df_2019.columns[i]][2])
        print('total estimate', df_2019.columns[i].split('!!')[0], df_2019[df_2019.columns[i]][2])
        
    if '!!With a computer!!Broadband Internet Subscription!!Estimate' in df_2019.columns[i]:
        state_access.append(df_2019.columns[i].split('!!')[0])
        individuals_access.append(df_2019[df_2019.columns[i]][2])
        print('with access', df_2019.columns[i].split('!!')[0], df_2019[df_2019.columns[i]][2])

total estimate Alabama 1,083,863
with access Alabama 967,875
total estimate Alaska 179,436
with access Alaska 167,519
total estimate Arizona 1,636,730
with access Arizona 1,481,810
total estimate Arkansas 696,968
with access Arkansas 613,868
total estimate California 8,869,135
with access California 8,350,449
total estimate Colorado 1,253,606
with access Colorado 1,203,133
total estimate Connecticut 725,670
with access Connecticut 697,679
total estimate Delaware 203,338
with access Delaware 188,123
total estimate District of Columbia 127,424
with access District of Columbia 115,018
total estimate Florida 4,221,450
with access Florida 3,883,110
total estimate Georgia 2,499,634
with access Georgia 2,258,688
total estimate Hawaii 300,079
with access Hawaii 283,011
total estimate Idaho 448,429
with access Idaho 426,636
total estimate Illinois 2,808,736
with access Illinois 2,646,423
total estimate Indiana 1,563,219
with access Indiana 1,416,727
total estimate Iowa 719,432
with access Iowa 670,041
total estimate Kansas 697,963
with access Kansas 644,784
total estimate Kentucky 997,916
with access Kentucky 919,306
total estimate Louisiana 1,083,736
with access Louisiana 956,147
total estimate Maine 245,139
with access Maine 231,180
total estimate Maryland 1,329,669
with access Maryland 1,252,162
total estimate Massachusetts 1,346,676
with access Massachusetts 1,289,761
total estimate Michigan 2,137,571
with access Michigan 2,004,356
total estimate Minnesota 1,297,247
with access Minnesota 1,244,720
total estimate Mississippi 696,417
with access Mississippi 606,182
total estimate Missouri 1,367,069
with access Missouri 1,268,363
total estimate Montana 224,792
with access Montana 210,516
total estimate Nebraska 473,730
with access Nebraska 457,087
total estimate Nevada 689,634
with access Nevada 622,436
total estimate New Hampshire 255,392
with access New Hampshire 245,181
total estimate New Jersey 1,931,771
with access New Jersey 1,812,950
total estimate New Mexico 472,779
with access New Mexico 401,139
total estimate New York 3,999,624
with access New York 3,650,239
total estimate North Carolina 2,289,136
with access North Carolina 2,091,464
total estimate North Dakota 176,182
with access North Dakota 165,038
total estimate Ohio 2,570,244
with access Ohio 2,395,426
total estimate Oklahoma 950,421
with access Oklahoma 867,473
total estimate Oregon 860,004
with access Oregon 815,802
total estimate Pennsylvania 2,620,855
with access Pennsylvania 2,441,938
total estimate Rhode Island 203,394
with access Rhode Island 196,134
total estimate South Carolina 1,108,741
with access South Carolina 984,798
total estimate South Dakota 214,076
with access South Dakota 194,736
total estimate Tennessee 1,507,974
with access Tennessee 1,369,611
total estimate Texas 7,382,207
with access Texas 6,699,854
total estimate Utah 927,083
with access Utah 889,021
total estimate Vermont 112,912
with access Vermont 105,049
total estimate Virginia 1,853,446
with access Virginia 1,730,876
total estimate Washington 1,661,463
with access Washington 1,599,123
total estimate West Virginia 357,533
with access West Virginia 330,580
total estimate Wisconsin 1,262,490
with access Wisconsin 1,185,892
total estimate Wyoming 133,609
with access Wyoming 124,357
total estimate Puerto Rico 571,513
with access Puerto Rico 469,652

In [64]:
internet_access_2019df = pd.DataFrame(list(zip(year, state_total_estimate,
                                           total_estimate, state_access, individuals_access)),
               columns =['year', 'state_total_estimate', 'total_estimat',
                         'state_access', 'individuals_access' ])
internet_access_2019df

,year,state_total_estimate,total_estimat,state_access,individuals_access
0,2019,Alabama,"1,083,863",Alabama,"967,875"
1,2019,Alaska,"179,436",Alaska,"167,519"
2,2019,Arizona,"1,636,730",Arizona,"1,481,810"
3,2019,Arkansas,"696,968",Arkansas,"613,868"
4,2019,California,"8,869,135",California,"8,350,449"
5,2019,Colorado,"1,253,606",Colorado,"1,203,133"
6,2019,Connecticut,"725,670",Connecticut,"697,679"
7,2019,Delaware,"203,338",Delaware,"188,123"
8,2019,District of Columbia,"127,424",District of Columbia,"115,018"
9,2019,Florida,"4,221,450",Florida,"3,883,110"
10,2019,Georgia,"2,499,634",Georgia,"2,258,688"
11,2019,Hawaii,"300,079",Hawaii,"283,011"
12,2019,Idaho,"448,429",Idaho,"426,636"
13,2019,Illinois,"2,808,736",Illinois,"2,646,423"
14,2019,Indiana,"1,563,219",Indiana,"1,416,727"
15,2019,Iowa,"719,432",Iowa,"670,041"
16,2019,Kansas,"697,963",Kansas,"644,784"
17,2019,Kentucky,"997,916",Kentucky,"919,306"
18,2019,Louisiana,"1,083,736",Louisiana,"956,147"
19,2019,Maine,"245,139",Maine,"231,180"
20,2019,Maryland,"1,329,669",Maryland,"1,252,162"
21,2019,Massachusetts,"1,346,676",Massachusetts,"1,289,761"
22,2019,Michigan,"2,137,571",Michigan,"2,004,356"
23,2019,Minnesota,"1,297,247",Minnesota,"1,244,720"
24,2019,Mississippi,"696,417",Mississippi,"606,182"
25,2019,Missouri,"1,367,069",Missouri,"1,268,363"
26,2019,Montana,"224,792",Montana,"210,516"
27,2019,Nebraska,"473,730",Nebraska,"457,087"
28,2019,Nevada,"689,634",Nevada,"622,436"
29,2019,New Hampshire,"255,392",New Hampshire,"245,181"
30,2019,New Jersey,"1,931,771",New Jersey,"1,812,950"
31,2019,New Mexico,"472,779",New Mexico,"401,139"
32,2019,New York,"3,999,624",New York,"3,650,239"
33,2019,North Carolina,"2,289,136",North Carolina,"2,091,464"
34,2019,North Dakota,"176,182",North Dakota,"165,038"
35,2019,Ohio,"2,570,244",Ohio,"2,395,426"
36,2019,Oklahoma,"950,421",Oklahoma,"867,473"
37,2019,Oregon,"860,004",Oregon,"815,802"
38,2019,Pennsylvania,"2,620,855",Pennsylvania,"2,441,938"
39,2019,Rhode Island,"203,394",Rhode Island,"196,134"
40,2019,South Carolina,"1,108,741",South Carolina,"984,798"
41,2019,South Dakota,"214,076",South Dakota,"194,736"
42,2019,Tennessee,"1,507,974",Tennessee,"1,369,611"
43,2019,Texas,"7,382,207",Texas,"6,699,854"
44,2019,Utah,"927,083",Utah,"889,021"
45,2019,Vermont,"112,912",Vermont,"105,049"
46,2019,Virginia,"1,853,446",Virginia,"1,730,876"
47,2019,Washington,"1,661,463",Washington,"1,599,123"
48,2019,West Virginia,"357,533",West Virginia,"330,580"
49,2019,Wisconsin,"1,262,490",Wisconsin,"1,185,892"
50,2019,Wyoming,"133,609",Wyoming,"124,357"
51,2019,Puerto Rico,"571,513",Puerto Rico,"469,652"

In [65]:
year = []
state_total_estimate = []
total_estimate = []
state_access = []
individuals_access = []

for i in range(0, len(df_2020.columns)):
    
    if 'Total!!Estimate' in df_2020.columns[i]:
        year.append('2020')
        state_total_estimate.append(df_2020.columns[i].split('!!')[0])
        total_estimate.append(df_2020[df_2020.columns[i]][2])
        print('total estimate', df_2020.columns[i].split('!!')[0], df_2020[df_2020.columns[i]][2])
        
    if '!!With a computer!!Broadband Internet Subscription!!Estimate' in df_2020.columns[i]:
        state_access.append(df_2020.columns[i].split('!!')[0])
        individuals_access.append(df_2020[df_2020.columns[i]][2])
        print('with access', df_2020.columns[i].split('!!')[0], df_2020[df_2020.columns[i]][2])

total estimate Alabama 1,090,725
with access Alabama 974,385
total estimate Alaska 182,838
with access Alaska 167,993
total estimate Arizona 1,636,256
with access Arizona 1,480,366
total estimate Arkansas 700,386
with access Arkansas 598,362
total estimate California 8,935,169
with access California 8,326,146
total estimate Colorado 1,256,103
with access Colorado 1,191,404
total estimate Connecticut 733,895
with access Connecticut 701,604
total estimate Delaware 203,585
with access Delaware 188,842
total estimate District of Columbia 125,494
with access District of Columbia 109,703
total estimate Florida 4,203,338
with access Florida 3,819,555
total estimate Georgia 2,500,970
with access Georgia 2,259,907
total estimate Hawaii 300,922
with access Hawaii 280,757
total estimate Idaho 443,496
with access Idaho 419,468
total estimate Illinois 2,850,384
with access Illinois 2,668,387
total estimate Indiana 1,565,650
with access Indiana 1,415,340
total estimate Iowa 725,533
with access Iowa 673,163
total estimate Kansas 703,786
with access Kansas 651,173
total estimate Kentucky 1,004,141
with access Kentucky 913,754
total estimate Louisiana 1,095,562
with access Louisiana 963,099
total estimate Maine 249,673
with access Maine 234,616
total estimate Maryland 1,338,091
with access Maryland 1,263,222
total estimate Massachusetts 1,356,444
with access Massachusetts 1,294,562
total estimate Michigan 2,155,849
with access Michigan 1,992,477
total estimate Minnesota 1,294,874
with access Minnesota 1,232,170
total estimate Mississippi 704,603
with access Mississippi 606,159
total estimate Missouri 1,374,003
with access Missouri 1,252,935
total estimate Montana 226,992
with access Montana 208,335
total estimate Nebraska 473,341
with access Nebraska 447,471
total estimate Nevada 686,088
with access Nevada 620,741
total estimate New Hampshire 257,052
with access New Hampshire 246,575
total estimate New Jersey 1,947,959
with access New Jersey 1,811,397
total estimate New Mexico 482,020
with access New Mexico 407,438
total estimate New York 4,049,795
with access New York 3,670,236
total estimate North Carolina 2,296,570
with access North Carolina 2,085,010
total estimate North Dakota 177,561
with access North Dakota 163,319
total estimate Ohio 2,588,493
with access Ohio 2,396,860
total estimate Oklahoma 954,070
with access Oklahoma 855,843
total estimate Oregon 864,225
with access Oregon 816,619
total estimate Pennsylvania 2,638,596
with access Pennsylvania 2,445,258
total estimate Rhode Island 204,828
with access Rhode Island 195,173
total estimate South Carolina 1,105,415
with access South Carolina 991,370
total estimate South Dakota 214,342
with access South Dakota 192,679
total estimate Tennessee 1,504,817
with access Tennessee 1,352,457
total estimate Texas 7,366,500
with access Texas 6,580,473
total estimate Utah 924,643
with access Utah 876,453
total estimate Vermont 115,175
with access Vermont 105,528
total estimate Virginia 1,864,141
with access Virginia 1,737,787
total estimate Washington 1,651,013
with access Washington 1,579,929
total estimate West Virginia 363,807
with access West Virginia 331,628
total estimate Wisconsin 1,272,784
with access Wisconsin 1,188,538
total estimate Wyoming 134,238
with access Wyoming 125,653
total estimate Puerto Rico 609,602
with access Puerto Rico 475,900

In [66]:
internet_access_2020df = pd.DataFrame(list(zip(year, state_total_estimate,
                                           total_estimate, state_access, individuals_access)),
               columns =['year', 'state_total_estimate', 'total_estimat',
                         'state_access', 'individuals_access' ])
internet_access_2020df

,year,state_total_estimate,total_estimat,state_access,individuals_access
0,2020,Alabama,"1,090,725",Alabama,"974,385"
1,2020,Alaska,"182,838",Alaska,"167,993"
2,2020,Arizona,"1,636,256",Arizona,"1,480,366"
3,2020,Arkansas,"700,386",Arkansas,"598,362"
4,2020,California,"8,935,169",California,"8,326,146"
5,2020,Colorado,"1,256,103",Colorado,"1,191,404"
6,2020,Connecticut,"733,895",Connecticut,"701,604"
7,2020,Delaware,"203,585",Delaware,"188,842"
8,2020,District of Columbia,"125,494",District of Columbia,"109,703"
9,2020,Florida,"4,203,338",Florida,"3,819,555"
10,2020,Georgia,"2,500,970",Georgia,"2,259,907"
11,2020,Hawaii,"300,922",Hawaii,"280,757"
12,2020,Idaho,"443,496",Idaho,"419,468"
13,2020,Illinois,"2,850,384",Illinois,"2,668,387"
14,2020,Indiana,"1,565,650",Indiana,"1,415,340"
15,2020,Iowa,"725,533",Iowa,"673,163"
16,2020,Kansas,"703,786",Kansas,"651,173"
17,2020,Kentucky,"1,004,141",Kentucky,"913,754"
18,2020,Louisiana,"1,095,562",Louisiana,"963,099"
19,2020,Maine,"249,673",Maine,"234,616"
20,2020,Maryland,"1,338,091",Maryland,"1,263,222"
21,2020,Massachusetts,"1,356,444",Massachusetts,"1,294,562"
22,2020,Michigan,"2,155,849",Michigan,"1,992,477"
23,2020,Minnesota,"1,294,874",Minnesota,"1,232,170"
24,2020,Mississippi,"704,603",Mississippi,"606,159"
25,2020,Missouri,"1,374,003",Missouri,"1,252,935"
26,2020,Montana,"226,992",Montana,"208,335"
27,2020,Nebraska,"473,341",Nebraska,"447,471"
28,2020,Nevada,"686,088",Nevada,"620,741"
29,2020,New Hampshire,"257,052",New Hampshire,"246,575"
30,2020,New Jersey,"1,947,959",New Jersey,"1,811,397"
31,2020,New Mexico,"482,020",New Mexico,"407,438"
32,2020,New York,"4,049,795",New York,"3,670,236"
33,2020,North Carolina,"2,296,570",North Carolina,"2,085,010"
34,2020,North Dakota,"177,561",North Dakota,"163,319"
35,2020,Ohio,"2,588,493",Ohio,"2,396,860"
36,2020,Oklahoma,"954,070",Oklahoma,"855,843"
37,2020,Oregon,"864,225",Oregon,"816,619"
38,2020,Pennsylvania,"2,638,596",Pennsylvania,"2,445,258"
39,2020,Rhode Island,"204,828",Rhode Island,"195,173"
40,2020,South Carolina,"1,105,415",South Carolina,"991,370"
41,2020,South Dakota,"214,342",South Dakota,"192,679"
42,2020,Tennessee,"1,504,817",Tennessee,"1,352,457"
43,2020,Texas,"7,366,500",Texas,"6,580,473"
44,2020,Utah,"924,643",Utah,"876,453"
45,2020,Vermont,"115,175",Vermont,"105,528"
46,2020,Virginia,"1,864,141",Virginia,"1,737,787"
47,2020,Washington,"1,651,013",Washington,"1,579,929"
48,2020,West Virginia,"363,807",West Virginia,"331,628"
49,2020,Wisconsin,"1,272,784",Wisconsin,"1,188,538"
50,2020,Wyoming,"134,238",Wyoming,"125,653"
51,2020,Puerto Rico,"609,602",Puerto Rico,"475,900"

In [67]:
year = []
state_total_estimate = []
total_estimate = []
state_access = []
individuals_access = []

for i in range(0, len(df_2021.columns)):
    
    if 'Total!!Estimate' in df_2021.columns[i]:
        year.append('2021')
        state_total_estimate.append(df_2021.columns[i].split('!!')[0])
        total_estimate.append(df_2021[df_2021.columns[i]][2])
        print('total estimate', df_2021.columns[i].split('!!')[0], df_2021[df_2021.columns[i]][2])
        
    if '!!With a computer!!Broadband Internet Subscription!!Estimate' in df_2021.columns[i]:
        state_access.append(df_2021.columns[i].split('!!')[0])
        individuals_access.append(df_2021[df_2021.columns[i]][2])
        print('with access', df_2021.columns[i].split('!!')[0], df_2021[df_2021.columns[i]][2])

total estimate Alabama 1,118,181
with access Alabama 1,038,662
total estimate Alaska 179,031
with access Alaska 171,750
total estimate Arizona 1,610,990
with access Arizona 1,540,644
total estimate Arkansas 701,633
with access Arkansas 656,187
total estimate California 8,752,999
with access California 8,464,256
total estimate Colorado 1,239,242
with access Colorado 1,199,081
total estimate Connecticut 725,677
with access Connecticut 704,975
total estimate Delaware 207,807
with access Delaware 199,495
total estimate District of Columbia 125,491
with access District of Columbia 117,089
total estimate Florida 4,279,434
with access Florida 4,073,153
total estimate Georgia 2,516,734
with access Georgia 2,382,538
total estimate Hawaii 302,625
with access Hawaii 294,490
total estimate Idaho 468,542
with access Idaho 452,934
total estimate Illinois 2,796,069
with access Illinois 2,683,410
total estimate Indiana 1,580,442
with access Indiana 1,501,623
total estimate Iowa 734,661
with access Iowa 705,398
total estimate Kansas 700,242
with access Kansas 674,506
total estimate Kentucky 1,012,258
with access Kentucky 950,162
total estimate Louisiana 1,080,434
with access Louisiana 1,013,973
total estimate Maine 248,696
with access Maine 240,759
total estimate Maryland 1,358,214
with access Maryland 1,310,489
total estimate Massachusetts 1,357,794
with access Massachusetts 1,322,311
total estimate Michigan 2,147,176
with access Michigan 2,065,650
total estimate Minnesota 1,303,564
with access Minnesota 1,269,929
total estimate Mississippi 689,544
with access Mississippi 626,044
total estimate Missouri 1,378,597
with access Missouri 1,311,605
total estimate Montana 233,804
with access Montana 222,528
total estimate Nebraska 480,779
with access Nebraska 462,074
total estimate Nevada 696,764
with access Nevada 657,567
total estimate New Hampshire 255,412
with access New Hampshire 249,702
total estimate New Jersey 2,015,489
with access New Jersey 1,921,702
total estimate New Mexico 470,829
with access New Mexico 423,847
total estimate New York 4,086,632
with access New York 3,835,496
total estimate North Carolina 2,297,269
with access North Carolina 2,192,836
total estimate North Dakota 182,000
with access North Dakota 173,924
total estimate Ohio 2,596,981
with access Ohio 2,448,026
total estimate Oklahoma 955,591
with access Oklahoma 902,216
total estimate Oregon 855,893
with access Oregon 822,602
total estimate Pennsylvania 2,664,576
with access Pennsylvania 2,527,581
total estimate Rhode Island 207,613
with access Rhode Island 200,051
total estimate South Carolina 1,112,493
with access South Carolina 1,043,862
total estimate South Dakota 219,425
with access South Dakota 205,540
total estimate Tennessee 1,534,333
with access Tennessee 1,464,603
total estimate Texas 7,443,685
with access Texas 7,027,560
total estimate Utah 942,681
with access Utah 916,633
total estimate Vermont 116,216
with access Vermont 111,621
total estimate Virginia 1,877,417
with access Virginia 1,802,441
total estimate Washington 1,671,253
with access Washington 1,621,219
total estimate West Virginia 360,191
with access West Virginia 339,509
total estimate Wisconsin 1,272,429
with access Wisconsin 1,214,125
total estimate Wyoming 131,040
with access Wyoming 125,274
total estimate Puerto Rico 545,353
with access Puerto Rico 501,562

In [68]:
internet_access_2021df = pd.DataFrame(list(zip(year, state_total_estimate,
                                           total_estimate, state_access, individuals_access)),
               columns =['year', 'state_total_estimate', 'total_estimat',
                         'state_access', 'individuals_access' ])
internet_access_2021df

,year,state_total_estimate,total_estimat,state_access,individuals_access
0,2021,Alabama,"1,118,181",Alabama,"1,038,662"
1,2021,Alaska,"179,031",Alaska,"171,750"
2,2021,Arizona,"1,610,990",Arizona,"1,540,644"
3,2021,Arkansas,"701,633",Arkansas,"656,187"
4,2021,California,"8,752,999",California,"8,464,256"
5,2021,Colorado,"1,239,242",Colorado,"1,199,081"
6,2021,Connecticut,"725,677",Connecticut,"704,975"
7,2021,Delaware,"207,807",Delaware,"199,495"
8,2021,District of Columbia,"125,491",District of Columbia,"117,089"
9,2021,Florida,"4,279,434",Florida,"4,073,153"
10,2021,Georgia,"2,516,734",Georgia,"2,382,538"
11,2021,Hawaii,"302,625",Hawaii,"294,490"
12,2021,Idaho,"468,542",Idaho,"452,934"
13,2021,Illinois,"2,796,069",Illinois,"2,683,410"
14,2021,Indiana,"1,580,442",Indiana,"1,501,623"
15,2021,Iowa,"734,661",Iowa,"705,398"
16,2021,Kansas,"700,242",Kansas,"674,506"
17,2021,Kentucky,"1,012,258",Kentucky,"950,162"
18,2021,Louisiana,"1,080,434",Louisiana,"1,013,973"
19,2021,Maine,"248,696",Maine,"240,759"
20,2021,Maryland,"1,358,214",Maryland,"1,310,489"
21,2021,Massachusetts,"1,357,794",Massachusetts,"1,322,311"
22,2021,Michigan,"2,147,176",Michigan,"2,065,650"
23,2021,Minnesota,"1,303,564",Minnesota,"1,269,929"
24,2021,Mississippi,"689,544",Mississippi,"626,044"
25,2021,Missouri,"1,378,597",Missouri,"1,311,605"
26,2021,Montana,"233,804",Montana,"222,528"
27,2021,Nebraska,"480,779",Nebraska,"462,074"
28,2021,Nevada,"696,764",Nevada,"657,567"
29,2021,New Hampshire,"255,412",New Hampshire,"249,702"
30,2021,New Jersey,"2,015,489",New Jersey,"1,921,702"
31,2021,New Mexico,"470,829",New Mexico,"423,847"
32,2021,New York,"4,086,632",New York,"3,835,496"
33,2021,North Carolina,"2,297,269",North Carolina,"2,192,836"
34,2021,North Dakota,"182,000",North Dakota,"173,924"
35,2021,Ohio,"2,596,981",Ohio,"2,448,026"
36,2021,Oklahoma,"955,591",Oklahoma,"902,216"
37,2021,Oregon,"855,893",Oregon,"822,602"
38,2021,Pennsylvania,"2,664,576",Pennsylvania,"2,527,581"
39,2021,Rhode Island,"207,613",Rhode Island,"200,051"
40,2021,South Carolina,"1,112,493",South Carolina,"1,043,862"
41,2021,South Dakota,"219,425",South Dakota,"205,540"
42,2021,Tennessee,"1,534,333",Tennessee,"1,464,603"
43,2021,Texas,"7,443,685",Texas,"7,027,560"
44,2021,Utah,"942,681",Utah,"916,633"
45,2021,Vermont,"116,216",Vermont,"111,621"
46,2021,Virginia,"1,877,417",Virginia,"1,802,441"
47,2021,Washington,"1,671,253",Washington,"1,621,219"
48,2021,West Virginia,"360,191",West Virginia,"339,509"
49,2021,Wisconsin,"1,272,429",Wisconsin,"1,214,125"
50,2021,Wyoming,"131,040",Wyoming,"125,274"
51,2021,Puerto Rico,"545,353",Puerto Rico,"501,562"

In [69]:
master_inter_access = pd.concat([internet_access_2015df, internet_access_2016df, internet_access_2017df,
                               internet_access_2018df, internet_access_2019df, internet_access_2020df,
                               internet_access_2021df], ignore_index=True)
master_inter_access

     year state_total_estimate total_estimat   state_access individuals_access
0    2015              Alabama     1,106,293        Alabama            858,157
1    2015               Alaska       185,534         Alaska            162,511
2    2015              Arizona     1,618,861        Arizona          1,323,334
3    2015             Arkansas       702,195       Arkansas            495,295
4    2015           California     9,097,914     California          7,707,350
..    ...                  ...           ...            ...                ...
359  2021           Washington     1,671,253     Washington          1,621,219
360  2021        West Virginia       360,191  West Virginia            339,509
361  2021            Wisconsin     1,272,429      Wisconsin          1,214,125
362  2021              Wyoming       131,040        Wyoming            125,274
363  2021          Puerto Rico       545,353    Puerto Rico            501,562

[364 rows x 5 columns]

In [94]:
master_inter_access['individuals_access'] = master_inter_access['individuals_access'].str.replace(',','')
master_inter_access['total_estimat'] = master_inter_access['total_estimat'].str.replace(',', '')

In [95]:
master_inter_access

     year state_total_estimate total_estimat   state_access individuals_access
0    2015              Alabama       1106293        Alabama             858157
1    2015               Alaska        185534         Alaska             162511
2    2015              Arizona       1618861        Arizona            1323334
3    2015             Arkansas        702195       Arkansas             495295
4    2015           California       9097914     California            7707350
..    ...                  ...           ...            ...                ...
359  2021           Washington       1671253     Washington            1621219
360  2021        West Virginia        360191  West Virginia             339509
361  2021            Wisconsin       1272429      Wisconsin            1214125
362  2021              Wyoming        131040        Wyoming             125274
363  2021          Puerto Rico        545353    Puerto Rico             501562

[364 rows x 5 columns]

In [97]:
master_inter_access['individuals_access'] = master_inter_access['individuals_access'].astype(int)
master_inter_access['total_estimat'] = master_inter_access['total_estimat'].astype(int)

master_inter_access['percent_of_children'] = master_inter_access['individuals_access'] / master_inter_access['total_estimat']
master_inter_access

,year,state_total_estimate,total_estimat,state_access,individuals_access,percent_of_children
0,2015,Alabama,1106293,Alabama,858157,0.775705
1,2015,Alaska,185534,Alaska,162511,0.875910
2,2015,Arizona,1618861,Arizona,1323334,0.817448
3,2015,Arkansas,702195,Arkansas,495295,0.705353
4,2015,California,9097914,California,7707350,0.847156
...,...,...,...,...,...,...
359,2021,Washington,1671253,Washington,1621219,0.970062
360,2021,West Virginia,360191,West Virginia,339509,0.942580
361,2021,Wisconsin,1272429,Wisconsin,1214125,0.954179
362,2021,Wyoming,131040,Wyoming,125274,0.955998
363,2021,Puerto Rico,545353,Puerto Rico,501562,0.919702

In [122]:
df_1989_2012

,Year,Country,Individuals 3 - 17 (thousands),Individuals 3 -17,Percent of children with access,Description
0,1989,United States of America,0,0,0%,accesses internet
1,1995,United States of America,6255,6255000,9%,accesses internet
2,1998,United States of America,13566,13566000,19%,has access to internet at home
3,2000,United States of America,23892,23892000,33%,has access to internet at home
4,2001,United States of America,"27,602",27602000,50.40%,has access to internet at home
5,2003,United States of America,27197,27197000,54.70%,has access to internet at home
6,2007,United States of America,43835,43835000,67.10%,has access to internet at home
7,2009,United States of America,47293,47293000,73.50%,has access to internet at home
8,2010,United States of America,49715,49715000,75.90%,has access to internet at home
9,2011,United States of America,49544,49544000,76.50%,has access to internet at home
10,2012,United States of America,50835,50835000,79.30%,has access to internet at home

In [162]:
df = master_inter_access.groupby('year', as_index = False).agg({'individuals_access':'sum', 'percent_of_children':'mean'})

In [163]:
df['Country'] = 'United States of America'
df['Inividuals 3 - 17 (thousands)'] = df['individuals_access'] / 1000
df['Inividuals 3 - 17 (thousands)'] = df['Inividuals 3 - 17 (thousands)'].astype(int)
df['Description'] = 'has access to internet at home'

df

,year,individuals_access,percent_of_children,Country,Inividuals 3 - 17 (thousands),Description
0,2015,61603572,0.835336,United States of America,61603,has access to internet at home
1,2016,65551831,0.886700,United States of America,65551,has access to internet at home
2,2017,66827699,0.901106,United States of America,66827,has access to internet at home
3,2018,67388912,0.914813,United States of America,67388,has access to internet at home
4,2019,67843443,0.924718,United States of America,67843,has access to internet at home
5,2020,67588219,0.916456,United States of America,67588,has access to internet at home
6,2021,70385214,0.952610,United States of America,70385,has access to internet at home

In [164]:
df = df.iloc[:, [0,3,4,1,2,5]]

In [150]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7 entries, 0 to 6
Data columns (total 6 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   year                           7 non-null      object
 1   Country                        7 non-null      object
 2   Inividuals 3 - 17 (thousands)  7 non-null      int32
 3   individuals_access             7 non-null      int32
 4   percent_of_children            7 non-null      float64
 5   Description                    7 non-null      object
dtypes: float64(1), int32(2), object(3)
memory usage: 408.0+ bytes

In [151]:
df_1989_2012.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11 entries, 0 to 10
Data columns (total 6 columns):
 #   Column                           Non-Null Count  Dtype
---  ------                           --------------  -----
 0   Year                             11 non-null     int64
 1   Country                          11 non-null     object
 2   Individuals 3 - 17 (thousands)   11 non-null     object
 3   Individuals 3 -17                11 non-null     int64
 4   Percent of children with access  11 non-null     object
 5   Description                      11 non-null     object
dtypes: int64(2), object(4)
memory usage: 656.0+ bytes

In [165]:
df['year'] = df['year'].astype(int)
df['Inividuals 3 - 17 (thousands)'] = df['Inividuals 3 - 17 (thousands)'].astype(str)
df['individuals_access'] = df['individuals_access'].astype(int)
df['percent_of_children'] = (round(df['percent_of_children'],4)*100).astype(str)

In [166]:
df.columns = df_1989_2012.columns

In [168]:
master = pd.concat([df_1989_2012, df])
master

,Year,Country,Individuals 3 - 17 (thousands),Individuals 3 -17,Percent of children with access,Description
0,1989,United States of America,0,0,0%,accesses internet
1,1995,United States of America,6255,6255000,9%,accesses internet
2,1998,United States of America,13566,13566000,19%,has access to internet at home
3,2000,United States of America,23892,23892000,33%,has access to internet at home
4,2001,United States of America,"27,602",27602000,50.40%,has access to internet at home
5,2003,United States of America,27197,27197000,54.70%,has access to internet at home
6,2007,United States of America,43835,43835000,67.10%,has access to internet at home
7,2009,United States of America,47293,47293000,73.50%,has access to internet at home
8,2010,United States of America,49715,49715000,75.90%,has access to internet at home
9,2011,United States of America,49544,49544000,76.50%,has access to internet at home
10,2012,United States of America,50835,50835000,79.30%,has access to internet at home
0,2015,United States of America,61603,61603572,83.53,has access to internet at home
1,2016,United States of America,65551,65551831,88.67,has access to internet at home
2,2017,United States of America,66827,66827699,90.11,has access to internet at home
3,2018,United States of America,67388,67388912,91.47999999999999,has access to internet at home
4,2019,United States of America,67843,67843443,92.47,has access to internet at home
5,2020,United States of America,67588,67588219,91.64999999999999,has access to internet at home
6,2021,United States of America,70385,70385214,95.26,has access to internet at home

In [171]:
master.to_csv(r'C:\Users\alecb\Documents\NSS\Python\projects\alec_capstone\cleaned_data\USA_internet_access_everyone_and_3_to_17_clean2.csv')