In [1]:
import pandas as pd

In [2]:
obesity = pd.read_csv(r'C:\Users\alecb\Documents\NSS\Python\projects\alec_capstone\data\Child Nutrition\NCD_RisC_Lancet_2020_BMI_child_adolescent_country.csv')

In [3]:
print(obesity.columns)
obesity.head()

Index(['Country', 'Sex', 'Year', 'Age group', 'Mean BMI',
       'Mean BMI lower 95% uncertainty interval',
       'Mean BMI upper 95% uncertainty interval', 'Mean BMI standard error',
       'Prevalence of BMI>2SD (obesity)',
       'Prevalence of BMI>2SD lower 95% uncertainty interval',
       'Prevalence of BMI>2SD upper 95% uncertainty interval',
       'Prevalence of BMI>1SD (overweight)',
       'Prevalence of BMI>1SD lower 95% uncertainty interval',
       'Prevalence of BMI>1SD upper 95% uncertainty interval',
       'Prevalence of BMI<minus1SD (underweight)',
       'Prevalence of BMI<minus1SD lower 95% uncertainty interval',
       'Prevalence of BMI<minus1SD upper 95% uncertainty interval',
       'Prevalence of BMI<minus2SD (moderate & severe underweight)',
       'Prevalence of BMI<minus2SD lower 95% uncertainty interval',
       'Prevalence of BMI<minus2SD upper 95% uncertainty interval'],
      dtype='object')

,Country,Sex,Year,Age group,Mean BMI,Mean BMI lower 95% uncertainty interval,Mean BMI upper 95% uncertainty interval,Mean BMI standard error,Prevalence of BMI>2SD (obesity),Prevalence of BMI>2SD lower 95% uncertainty interval,Prevalence of BMI>2SD upper 95% uncertainty interval,Prevalence of BMI>1SD (overweight),Prevalence of BMI>1SD lower 95% uncertainty interval,Prevalence of BMI>1SD upper 95% uncertainty interval,Prevalence of BMI<minus1SD (underweight),Prevalence of BMI<minus1SD lower 95% uncertainty interval,Prevalence of BMI<minus1SD upper 95% uncertainty interval,Prevalence of BMI<minus2SD (moderate & severe underweight),Prevalence of BMI<minus2SD lower 95% uncertainty interval,Prevalence of BMI<minus2SD upper 95% uncertainty interval
0,Afghanistan,Boys,1975,5,NaN,NaN,NaN,NaN,0.000678,0.000002,0.004603,0.003362,0.000339,0.013178,0.653097,0.468921,0.818075,0.294595,0.100612,0.496883
1,Afghanistan,Boys,1975,6,NaN,NaN,NaN,NaN,0.000795,0.000003,0.005099,0.003092,0.000323,0.012043,0.670304,0.496520,0.828010,0.301816,0.110300,0.497502
2,Afghanistan,Boys,1975,7,NaN,NaN,NaN,NaN,0.000899,0.000004,0.005626,0.003291,0.000363,0.012482,0.690468,0.521115,0.842874,0.313948,0.121775,0.506589
3,Afghanistan,Boys,1975,8,NaN,NaN,NaN,NaN,0.000955,0.000006,0.005792,0.003713,0.000443,0.013797,0.710324,0.544461,0.856417,0.327973,0.136391,0.516281
4,Afghanistan,Boys,1975,9,NaN,NaN,NaN,NaN,0.000934,0.000006,0.005619,0.004160,0.000524,0.015159,0.726468,0.563472,0.867022,0.340659,0.146815,0.524532

In [4]:
obesity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 20 columns):
 #   Column                                                      Non-Null Count   Dtype
---  ------                                                      --------------   -----
 0   Country                                                     270000 non-null  object
 1   Sex                                                         270000 non-null  object
 2   Year                                                        270000 non-null  int64
 3   Age group                                                   270000 non-null  int64
 4   Mean BMI                                                    210000 non-null  float64
 5   Mean BMI lower 95% uncertainty interval                     210000 non-null  float64
 6   Mean BMI upper 95% uncertainty interval                     210000 non-null  float64
 7   Mean BMI standard error                                     210000 non-null  float64
 8   Prevalence of BMI>2SD (obesity)                             252000 non-null  float64
 9   Prevalence of BMI>2SD lower 95% uncertainty interval        252000 non-null  float64
 10  Prevalence of BMI>2SD upper 95% uncertainty interval        252000 non-null  float64
 11  Prevalence of BMI>1SD (overweight)                          252000 non-null  float64
 12  Prevalence of BMI>1SD lower 95% uncertainty interval        252000 non-null  float64
 13  Prevalence of BMI>1SD upper 95% uncertainty interval        252000 non-null  float64
 14  Prevalence of BMI<minus1SD (underweight)                    252000 non-null  float64
 15  Prevalence of BMI<minus1SD lower 95% uncertainty interval   252000 non-null  float64
 16  Prevalence of BMI<minus1SD upper 95% uncertainty interval   252000 non-null  float64
 17  Prevalence of BMI<minus2SD (moderate & severe underweight)  252000 non-null  float64
 18  Prevalence of BMI<minus2SD lower 95% uncertainty interval   252000 non-null  float64
 19  Prevalence of BMI<minus2SD upper 95% uncertainty interval   252000 non-null  float64
dtypes: float64(16), int64(2), object(2)
memory usage: 41.2+ MB

In [6]:

obesity = obesity[['Country', 'Sex', 'Year',
                    'Age group', 'Mean BMI', 'Prevalence of BMI>2SD (obesity)',
                    'Prevalence of BMI>1SD (overweight)', 'Prevalence of BMI<minus1SD (underweight)']]
obesity.head()

,Country,Sex,Year,Age group,Mean BMI,Prevalence of BMI>2SD (obesity),Prevalence of BMI>1SD (overweight),Prevalence of BMI<minus1SD (underweight)
0,Afghanistan,Boys,1975,5,NaN,0.000678,0.003362,0.653097
1,Afghanistan,Boys,1975,6,NaN,0.000795,0.003092,0.670304
2,Afghanistan,Boys,1975,7,NaN,0.000899,0.003291,0.690468
3,Afghanistan,Boys,1975,8,NaN,0.000955,0.003713,0.710324
4,Afghanistan,Boys,1975,9,NaN,0.000934,0.004160,0.726468

#### merging with global internet use

In [7]:
internet = pd.read_csv(r'C:\Users\alecb\Documents\NSS\Python\projects\alec_capstone\cleaned_data\global_internet_use_1960_2022_clean.csv')

In [8]:
internet.head()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,74.000000,78.900000,83.780000,88.661227,93.542454,97.170000,97.170000,97.170000,97.170000,97.170000
1,Africa Eastern and Southern,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.534750,10.126945,12.237716,14.593148,16.378025,18.098060,21.653313,24.247500,26.200657,26.200657
2,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.454545,5.900000,7.000000,8.260000,11.000000,13.500000,16.800000,17.600000,18.400000,18.400000
3,Africa Western and Central,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.293655,12.577756,14.923441,18.179203,21.829266,25.176342,29.305247,29.023474,34.093121,34.093121
4,Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.700000,13.000000,21.400000,22.000000,23.200000,26.000000,29.000000,32.400000,36.000000,36.000000

In [9]:
internet = internet.melt(
    id_vars=['Country Name'], 
    var_name='Year', 
    value_name='Percent Internet Use'
)

internet.head()

                  Country Name  Year  Percent Internet Use
0                        Aruba  1960                   0.0
1  Africa Eastern and Southern  1960                   0.0
2                  Afghanistan  1960                   0.0
3   Africa Western and Central  1960                   0.0
4                       Angola  1960                   0.0

In [10]:
print(obesity.info())
print(internet.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 270000 entries, 0 to 269999
Data columns (total 8 columns):
 #   Column                                    Non-Null Count   Dtype
---  ------                                    --------------   -----
 0   Country                                   270000 non-null  object
 1   Sex                                       270000 non-null  object
 2   Year                                      270000 non-null  int64
 3   Age group                                 270000 non-null  int64
 4   Mean BMI                                  210000 non-null  float64
 5   Prevalence of BMI>2SD (obesity)           252000 non-null  float64
 6   Prevalence of BMI>1SD (overweight)        252000 non-null  float64
 7   Prevalence of BMI<minus1SD (underweight)  252000 non-null  float64
dtypes: float64(4), int64(2), object(2)
memory usage: 16.5+ MB
None
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16492 entries, 0 to 16491
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country Name          16492 non-null  object
 1   Year                  16492 non-null  object
 2   Percent Internet Use  16492 non-null  float64
dtypes: float64(1), object(2)
memory usage: 386.7+ KB
None

In [11]:
obesity['Year'] = obesity['Year'].astype(str)

In [27]:
internet['Country Name'] = internet['Country Name'].str.replace('United States', 'United States of America')

In [29]:
globe_internet_obesity = pd.merge(obesity, internet, 
                               left_on = ('Year', 'Country'), right_on = ('Year', 'Country Name'), 
                               how = 'inner')

globe_internet_obesity.head()

,Country,Sex,Year,Age group,Mean BMI,Prevalence of BMI>2SD (obesity),Prevalence of BMI>1SD (overweight),Prevalence of BMI<minus1SD (underweight),Country Name,Percent Internet Use
0,Afghanistan,Boys,1975,5,NaN,0.000678,0.003362,0.653097,Afghanistan,0.0
1,Afghanistan,Boys,1975,6,NaN,0.000795,0.003092,0.670304,Afghanistan,0.0
2,Afghanistan,Boys,1975,7,NaN,0.000899,0.003291,0.690468,Afghanistan,0.0
3,Afghanistan,Boys,1975,8,NaN,0.000955,0.003713,0.710324,Afghanistan,0.0
4,Afghanistan,Boys,1975,9,NaN,0.000934,0.004160,0.726468,Afghanistan,0.0

In [30]:
globe_internet_obesity = globe_internet_obesity.drop(columns = ['Country Name'])
globe_internet_obesity.head()

,Country,Sex,Year,Age group,Mean BMI,Prevalence of BMI>2SD (obesity),Prevalence of BMI>1SD (overweight),Prevalence of BMI<minus1SD (underweight),Percent Internet Use
0,Afghanistan,Boys,1975,5,NaN,0.000678,0.003362,0.653097,0.0
1,Afghanistan,Boys,1975,6,NaN,0.000795,0.003092,0.670304,0.0
2,Afghanistan,Boys,1975,7,NaN,0.000899,0.003291,0.690468,0.0
3,Afghanistan,Boys,1975,8,NaN,0.000955,0.003713,0.710324,0.0
4,Afghanistan,Boys,1975,9,NaN,0.000934,0.004160,0.726468,0.0

In [31]:
globe_internet_obesity.to_csv(r'C:\Users\alecb\Documents\NSS\Python\projects\alec_capstone\cleaned_data\globe_internet_obesity_v2.csv')

In [24]:
obesity[obesity['Country']=='United States of America']

,Country,Sex,Year,Age group,Mean BMI,Prevalence of BMI>2SD (obesity),Prevalence of BMI>1SD (overweight),Prevalence of BMI<minus1SD (underweight)
128925,United States of America,Boys,1975,5,NaN,0.041638,0.172170,0.098298
128926,United States of America,Boys,1975,6,NaN,0.053585,0.176490,0.104398
128927,United States of America,Boys,1975,7,NaN,0.064724,0.192130,0.108517
128928,United States of America,Boys,1975,8,NaN,0.073269,0.212166,0.111313
128929,United States of America,Boys,1975,9,NaN,0.077654,0.229715,0.113581
...,...,...,...,...,...,...,...,...
264595,United States of America,Girls,2019,15,23.85899,NaN,NaN,NaN
264596,United States of America,Girls,2019,16,24.19063,NaN,NaN,NaN
264597,United States of America,Girls,2019,17,24.44812,NaN,NaN,NaN
264598,United States of America,Girls,2019,18,24.79738,NaN,NaN,NaN
264599,United States of America,Girls,2019,19,25.40432,NaN,NaN,NaN

In [28]:
internet['Country Name'].unique()

array(['Aruba', 'Africa Eastern and Southern', 'Afghanistan',
       'Africa Western and Central', 'Angola', 'Albania', 'Andorra',
       'Arab World', 'United Arab Emirates', 'Argentina', 'Armenia',
       'American Samoa', 'Antigua and Barbuda', 'Australia', 'Austria',
       'Azerbaijan', 'Burundi', 'Belgium', 'Benin', 'Burkina Faso',
       'Bangladesh', 'Bulgaria', 'Bahrain', 'Bahamas, The',
       'Bosnia and Herzegovina', 'Belarus', 'Belize', 'Bermuda',
       'Bolivia', 'Brazil', 'Barbados', 'Brunei Darussalam', 'Bhutan',
       'Botswana', 'Central African Republic', 'Canada',
       'Central Europe and the Baltics', 'Switzerland', 'Channel Islands',
       'Chile', 'China', "Cote d'Ivoire", 'Cameroon', 'Congo, Dem. Rep.',
       'Congo, Rep.', 'Colombia', 'Comoros', 'Cabo Verde', 'Costa Rica',
       'Caribbean small states', 'Cuba', 'Curacao', 'Cayman Islands',
       'Cyprus', 'Czechia', 'Germany', 'Djibouti', 'Dominica', 'Denmark',
       'Dominican Republic', 'Algeria',
       'East Asia & Pacific (excluding high income)',
       'Early-demographic dividend', 'East Asia & Pacific',
       'Europe & Central Asia (excluding high income)',
       'Europe & Central Asia', 'Ecuador', 'Egypt, Arab Rep.',
       'Euro area', 'Eritrea', 'Spain', 'Estonia', 'Ethiopia',
       'European Union', 'Fragile and conflict affected situations',
       'Finland', 'Fiji', 'France', 'Faroe Islands',
       'Micronesia, Fed. Sts.', 'Gabon', 'United Kingdom', 'Georgia',
       'Ghana', 'Gibraltar', 'Guinea', 'Gambia, The', 'Guinea-Bissau',
       'Equatorial Guinea', 'Greece', 'Grenada', 'Greenland', 'Guatemala',
       'Guam', 'Guyana', 'High income', 'Hong Kong SAR, China',
       'Honduras', 'Heavily indebted poor countries (HIPC)', 'Croatia',
       'Haiti', 'Hungary', 'IBRD only', 'IDA & IBRD total', 'IDA total',
       'IDA blend', 'Indonesia', 'IDA only', 'Isle of Man', 'India',
       'Not classified', 'Ireland', 'Iran, Islamic Rep.', 'Iraq',
       'Iceland', 'Israel', 'Italy', 'Jamaica', 'Jordan', 'Japan',
       'Kazakhstan', 'Kenya', 'Kyrgyz Republic', 'Cambodia', 'Kiribati',
       'St. Kitts and Nevis', 'Korea, Rep.', 'Kuwait',
       'Latin America & Caribbean (excluding high income)', 'Lao PDR',
       'Lebanon', 'Liberia', 'Libya', 'St. Lucia',
       'Latin America & Caribbean',
       'Least developed countries: UN classification', 'Low income',
       'Liechtenstein', 'Sri Lanka', 'Lower middle income',
       'Low & middle income', 'Lesotho', 'Late-demographic dividend',
       'Lithuania', 'Luxembourg', 'Latvia', 'Macao SAR, China',
       'St. Martin (French part)', 'Morocco', 'Monaco', 'Moldova',
       'Madagascar', 'Maldives', 'Middle East & North Africa', 'Mexico',
       'Marshall Islands', 'Middle income', 'North Macedonia', 'Mali',
       'Malta', 'Myanmar',
       'Middle East & North Africa (excluding high income)', 'Montenegro',
       'Mongolia', 'Northern Mariana Islands', 'Mozambique', 'Mauritania',
       'Mauritius', 'Malawi', 'Malaysia', 'North America', 'Namibia',
       'New Caledonia', 'Niger', 'Nigeria', 'Nicaragua', 'Netherlands',
       'Norway', 'Nepal', 'Nauru', 'New Zealand', 'OECD members', 'Oman',
       'Other small states', 'Pakistan', 'Panama', 'Peru', 'Philippines',
       'Palau', 'Papua New Guinea', 'Poland', 'Pre-demographic dividend',
       'Puerto Rico', "Korea, Dem. People's Rep.", 'Portugal', 'Paraguay',
       'West Bank and Gaza', 'Pacific island small states',
       'Post-demographic dividend', 'French Polynesia', 'Qatar',
       'Romania', 'Russian Federation', 'Rwanda', 'South Asia',
       'Saudi Arabia', 'Sudan', 'Senegal', 'Singapore', 'Solomon Islands',
       'Sierra Leone', 'El Salvador', 'San Marino', 'Somalia', 'Serbia',
       'Sub-Saharan Africa (excluding high income)', 'South Sudan',
       'Sub-Saharan Africa', 'Small states', 'Sao Tome and Principe',
       'Suriname', 'Slovak Republic', 'Slovenia', 'Sweden', 'Eswatini',
       'Sint Maarten (Dutch part)', 'Seychelles', 'Syrian Arab Republic',
       'Turks and Caicos Islands', 'Chad',
       'East Asia & Pacific (IDA & IBRD countries)',
       'Europe & Central Asia (IDA & IBRD countries)', 'Togo', 'Thailand',
       'Tajikistan', 'Turkmenistan',
       'Latin America & the Caribbean (IDA & IBRD countries)',
       'Timor-Leste', 'Middle East & North Africa (IDA & IBRD countries)',
       'Tonga', 'South Asia (IDA & IBRD)',
       'Sub-Saharan Africa (IDA & IBRD countries)', 'Trinidad and Tobago',
       'Tunisia', 'Turkiye', 'Tuvalu', 'Tanzania', 'Uganda', 'Ukraine',
       'Upper middle income', 'Uruguay', 'United States of America',
       'Uzbekistan', 'St. Vincent and the Grenadines', 'Venezuela, RB',
       'British Virgin Islands', 'Virgin Islands (U.S.)', 'Vietnam',
       'Vanuatu', 'World', 'Samoa', 'Kosovo', 'Yemen, Rep.',
       'South Africa', 'Zambia', 'Zimbabwe'], dtype=object)