In [1]:
import pandas as pd

In [2]:
global_children = pd.read_csv('data/Child Mentality/global_student_mentalhealth_2003_2015.csv')

In [3]:
global_children.head()

,Year,LocationAbbr,LocationDesc,DataSource,Topic,Subtopic,ShortQuestionText,Greater_Risk_Question,Description,Data_Value_Symbol,...,Age,GeoLocation,TopicID,SubtopicID,QuestionCode,LocationId,StratID1,StratID2,StratID3,StratificationType
0,2010,NU,Niue,GSHS,Dietary Behaviors,Body Weight,Obesity,Were obese,>+2SD from the median for BMI by age and sex,%,...,13,NaN,C05,C39,QNOBESEG,NaN,S1,A2,NU,Western Pacific
1,2003,UGB,Uganda (Urban),GSHS,Dietary Behaviors,Vegetables,No vegetable consumption,Did not eat vegetables,during the 30 days before the survey,%,...,13,NaN,C05,C19,G8,NaN,S7,A2,UGB,African
2,2011,SI,Solomon Islands,GSHS,Dietary Behaviors,Fruit,Fruit consumption >= 1 time,NaN,during the 30 days before the survey,%,...,13,NaN,C05,C41,QNFR1G,NaN,S8,A2,SI,Western Pacific
3,2015,SH,Seychelles,GSHS,Mental Health,Mental Health,Close Friends,Did not have close friends,NaN,%,...,17,NaN,C36,C46,G27,NaN,S8,A6,SH,African
4,2011,SI,Solomon Islands,GSHS,Dietary Behaviors,Body Weight,Overweight,Were overweight,>+1SD from the median for BMI by age and sex,%,...,13,NaN,C05,C39,QNOWTG,NaN,S8,A2,SI,Western Pacific

In [4]:
global_children['ShortQuestionText'].unique()

array(['Obesity', 'No vegetable consumption',
       'Fruit consumption >= 1 time', 'Close Friends', 'Overweight',
       'Underweight', 'No fruit consumption', 'Ever marjiuana use',
       'Fruit consumption >= 2 times', 'Ever sexual intercourse',
       'Condom use', 'Little vegetable consumption', 'Attempted suicide',
       'Considered suicide', 'Fruit consumption >= 3 times',
       'Little fruit consumption', 'Felt lonely',
       'Vegetable consumption >=1 time', 'PE attendance',
       'Fast food eating', 'Fast food eating >= 3 day',
       'Vegetable consumption >=2 times', 'Current cigarette use',
       'Parental tobacco use', 'Bullied', 'HIV/AIDS awareness',
       'Vegetable consumption >=3 times', 'Students kind and helpful',
       'Hunger', 'Fruits and Vegetables',
       'Talk with parents about HIV/AIDS', 'Seriously injured',
       'Bullied by hitting', 'Initiation of alcohol use',
       'Physically active >= 5 days', 'Washed hands before eating',
       'Multiple sex partners', 'Physical activity', 'Soft drinks',
       'Walk or bike to school', 'Brushed teeth',
       'Parents check homework', 'Parents know about free time',
       'Washed hands after toilet', 'Soft drinks >= 1 times',
       'Current tobacco use', 'Daily physical activity',
       'HIV/AIDS avoidance', 'Initiation of cigarette use',
       'Washed hands with soap', 'Current alcohol use',
       'Smoking in their presence', 'Drunk', 'Could not sleep',
       'Missed school', 'Sitting activities', 'Physically attacked',
       'Parents go through their things',
       'Amphethamines or methamphetamines use',
       'Non-condom birth control used', 'Current marijuana use',
       'Drank 2+ drinks', 'Parents understood problems',
       'Soft drinks >= 3 times', 'Serious injury/Broken bone',
       'Physical fight', 'Smoking cessation', 'Made a suicide plan',
       'Other tobacco', 'Sex before 14 years', 'Attended PE 5+ days',
       'HIV/AIDS education', 'Any birth control used',
       'Initiation of drug use', 'Trouble from drinking',
       'Fast food eating >= 2 day', 'Soft drinks >= 2 times',
       'Little soft drinks', 'Serious injury/Motor vehicle',
       'Source of alcohol', 'Attended PE 3+ days'], dtype=object)

In [5]:
obese_children = global_children[(global_children['ShortQuestionText'] == 'Obesity') | 
                                (global_children['ShortQuestionText'] == 'Overweight')]

In [7]:
obese_children['Greater_Risk_Question'].unique()

array(['Were obese', 'Were overweight'], dtype=object)

In [8]:
obese_children.head()

,Year,LocationAbbr,LocationDesc,DataSource,Topic,Subtopic,ShortQuestionText,Greater_Risk_Question,Description,Data_Value_Symbol,...,Age,GeoLocation,TopicID,SubtopicID,QuestionCode,LocationId,StratID1,StratID2,StratID3,StratificationType
0,2010,NU,Niue,GSHS,Dietary Behaviors,Body Weight,Obesity,Were obese,>+2SD from the median for BMI by age and sex,%,...,13,NaN,C05,C39,QNOBESEG,NaN,S1,A2,NU,Western Pacific
4,2011,SI,Solomon Islands,GSHS,Dietary Behaviors,Body Weight,Overweight,Were overweight,>+1SD from the median for BMI by age and sex,%,...,13,NaN,C05,C39,QNOWTG,NaN,S8,A2,SI,Western Pacific
9,2007,MY,Myanmar,GSHS,Dietary Behaviors,Body Weight,Obesity,Were obese,>+2SD from the median for BMI by age and sex,%,...,13-15,NaN,C05,C39,QNOBESEG,NaN,S1,A7,MY,South-East Asia
10,2010,MR,Morocco,GSHS,Dietary Behaviors,Body Weight,Obesity,Were obese,>+2SD from the median for BMI by age and sex,%,...,15,NaN,C05,C39,QNOBESEG,NaN,S7,A4,MR,Eastern Mediterranean
18,2015,GT,Guatemala,GSHS,Dietary Behaviors,Body Weight,Overweight,Were overweight,>+1SD from the median for BMI by age and sex,%,...,13-15,NaN,C05,C39,QNOWTG,NaN,S7,A7,GT,Americas

In [9]:
obese_children.columns

Index(['Year', 'LocationAbbr', 'LocationDesc', 'DataSource', 'Topic',
       'Subtopic', 'ShortQuestionText', 'Greater_Risk_Question', 'Description',
       'Data_Value_Symbol', 'Data_Value_Type', 'Greater_Risk_Data_Value',
       'Greater_Risk_Data_Value_Footnote_Symbol',
       'Greater_Risk_Data_Value_Footnote', 'Greater_Risk_Low_Confidence_Limit',
       'Greater_Risk_High_Confidence_Limit', 'Lesser_Risk_Question',
       'Lesser_Risk_Data_Value', 'Lesser_Risk_Data_Value_Footnote_Symbol',
       'Lesser_Risk_Data_Value_Footnote', 'Lesser_Risk_High_Confidence_Limit',
       'Lesser_Risk_Low_Confidence_Limit', 'Sample_Size', 'Sex', 'Age',
       'GeoLocation', 'TopicID', 'SubtopicID', 'QuestionCode', 'LocationId',
       'StratID1', 'StratID2', 'StratID3', 'StratificationType'],
      dtype='object')

In [10]:
obese_children['Lesser_Risk_Question'].unique()

array([nan], dtype=object)

In [12]:
obese_children = obese_children[['Year', 'LocationDesc', 'Greater_Risk_Question', 'Data_Value_Symbol',
                'Greater_Risk_Data_Value', 'Sample_Size', 'Sex', 'Age']]

In [13]:
obese_children

,Year,LocationDesc,Greater_Risk_Question,Data_Value_Symbol,Greater_Risk_Data_Value,Sample_Size,Sex,Age
0,2010,Niue,Were obese,%,NaN,12,Total,13
4,2011,Solomon Islands,Were overweight,%,NaN,80,Male,13
9,2007,Myanmar,Were obese,%,0.6828,1816,Total,13-15
10,2010,Morocco,Were obese,%,1.6316,245,Female,15
18,2015,Guatemala,Were overweight,%,26.0481,1641,Female,13-15
...,...,...,...,...,...,...,...,...
278058,2005,United Arab Emirates (Abu Dhabi Emir Govt),Were overweight,%,40.7931,454,Total,13
278097,2012,Argentina Chaco,Were obese,%,6.7137,109,Male,14
278124,2012,Argentina San Juan,Were obese,%,7.3933,228,Total,14
278164,2010,UNRWA Gaza,Were obese,%,4.5168,864,Male,13-15
278182,2012,Argentina Santa Fe,Were obese,%,6.6881,247,Male,13-15

In [18]:
globe_internet = pd.read_csv('cleaned_data/global_internet_use_1960_2022_clean.csv')

In [19]:
globe_internet.head()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,74.000000,78.900000,83.780000,88.661227,93.542454,97.170000,97.170000,97.170000,97.170000,97.170000
1,Africa Eastern and Southern,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.534750,10.126945,12.237716,14.593148,16.378025,18.098060,21.653313,24.247500,26.200657,26.200657
2,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.454545,5.900000,7.000000,8.260000,11.000000,13.500000,16.800000,17.600000,18.400000,18.400000
3,Africa Western and Central,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.293655,12.577756,14.923441,18.179203,21.829266,25.176342,29.305247,29.023474,34.093121,34.093121
4,Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.700000,13.000000,21.400000,22.000000,23.200000,26.000000,29.000000,32.400000,36.000000,36.000000

In [20]:
globe_internet = globe_internet.melt(
    id_vars=['Country Name'], 
    var_name='Year', 
    value_name='Percent Internet Use'
)

In [22]:
globe_internet.head()

                  Country Name  Year  Percent Internet Use
0                        Aruba  1960                   0.0
1  Africa Eastern and Southern  1960                   0.0
2                  Afghanistan  1960                   0.0
3   Africa Western and Central  1960                   0.0
4                       Angola  1960                   0.0

In [25]:
globe_internet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16492 entries, 0 to 16491
Data columns (total 3 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Country Name          16492 non-null  object
 1   Year                  16492 non-null  object
 2   Percent Internet Use  16492 non-null  float64
dtypes: float64(1), object(2)
memory usage: 386.7+ KB

In [27]:
obese_children['Year'] = obese_children['Year'].astype(str)

C:\Users\alecb\AppData\Local\Temp\ipykernel_3860\1081486423.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obese_children['Year'] = obese_children['Year'].astype(str)

In [59]:
globe_internet_childobesity = pd.merge(obese_children, globe_internet, 
                               left_on = ('Year', 'LocationDesc'), right_on = ('Year', 'Country Name'), 
                               how = 'inner')

In [60]:
globe_internet_childobesity['LocationDesc'].unique()

array(['Solomon Islands', 'Myanmar', 'Morocco', 'Guatemala', 'Nauru',
       'Afghanistan', 'Indonesia', 'Uruguay', 'Guyana', 'Malaysia',
       'Oman', 'Jordan', 'Kuwait', 'India', 'Dominica', 'Samoa',
       'Bangladesh', 'Mongolia', 'El Salvador', 'Costa Rica', 'Iraq',
       'Argentina', 'Mauritania', 'Peru', 'Trinidad and Tobago', 'Uganda',
       'Pakistan', 'Jamaica', 'Belize', 'Namibia', 'Benin', 'Cambodia',
       'Sudan', 'Chile', 'Vietnam', 'Malawi', 'Barbados', 'Vanuatu',
       'Brunei Darussalam', 'Bolivia', 'Libya', 'Philippines', 'Lebanon',
       'Thailand', 'Seychelles', 'Djibouti', 'United Arab Emirates',
       'Maldives', 'Algeria', 'Kiribati', 'Tuvalu',
       'British Virgin Islands', 'Sri Lanka', 'Suriname', 'Tonga',
       'Ghana', 'Honduras'], dtype=object)

In [40]:
sorted(obese_children.LocationDesc.unique())

['Afghanistan',
 'Algeria',
 'Algeria Rural',
 'Algeria Urban',
 'Argentina',
 'Argentina Chaco',
 'Argentina Chubut',
 'Argentina Cordoba',
 'Argentina Corrientes',
 'Argentina Entre Rios',
 'Argentina Jujuy',
 'Argentina La Pampa',
 'Argentina Mendoza',
 'Argentina Neuquen',
 'Argentina Salta',
 'Argentina San Juan',
 'Argentina Santa Fe',
 'Argentina Santiago del Estero',
 'Bahamas',
 'Bangladesh',
 'Barbados',
 'Belize',
 'Benin',
 'Bolivia',
 'Bolivia Highland',
 'Bolivia Plains',
 'Bolivia Valley',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Cambodia',
 'Cambodia Rural',
 'Cambodia Urban',
 'Chile',
 'Chile (Metropolitan Mun with Intervention)',
 'Chile (Metropolitan Mun without Intervention)',
 'Chile (Metropolitan Region)',
 'Chile (Region I)',
 'Chile (Region V)',
 'Chile (Region VIII Mun with Intervention)',
 'Chile (Region VIII Mun without Intervention)',
 'Chile (Region VIII)',
 'China (Beijing)',
 'China (Hangzhou)',
 'China (Wuhan)',
 'China (Wurumqi)',
 'Cook Islands',
 'Costa Rica',
 'Djibouti',
 'Dominica',
 'Ecuador (Quito)',
 'Egypt',
 'El Salvador',
 'Fiji Islands',
 'Ghana',
 'Ghana (Central)',
 'Ghana (North)',
 'Ghana (South)',
 'Ghana Junior High',
 'Ghana Senior High',
 'Guatemala',
 'Guatemala (Capital City Oficial)',
 'Guatemala (Capital City Private)',
 'Guatemala (Rest of Country)',
 'Guyana',
 'Honduras',
 'India',
 'Indonesia',
 'Indonesia (Java)',
 'Indonesia (Outside Java and Sumatra)',
 'Indonesia (Sumatra)',
 'Iraq',
 'Jamaica',
 'Jordan',
 'Kiribati',
 'Kuwait',
 'Lebanon',
 'Lebanon (Private)',
 'Lebanon (Public)',
 'Libya',
 'Macedonia',
 'Malawi',
 'Malawi (Rural)',
 'Malawi (Urban)',
 'Malaysia',
 'Malaysia - A',
 'Malaysia - B',
 'Malaysia - C',
 'Malaysia - D',
 'Malaysia - E',
 'Malaysia - F',
 'Malaysia - G',
 'Malaysia - H',
 'Malaysia - I',
 'Malaysia - J',
 'Malaysia - K',
 'Malaysia - L',
 'Malaysia - M',
 'Malaysia - N',
 'Malaysia - O',
 'Maldives',
 'Maldives (Atolls)',
 'Maldives (Male)',
 'Mauritania',
 'Mauritius (Mauritius)',
 'Mauritius (Rodriques)',
 'Mongolia',
 'Mongolia Rural',
 'Mongolia Urban',
 'Morocco',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Niue',
 'Oman',
 'Pakistan',
 'Palestine (Gaza)',
 'Palestine (West Bank)',
 'Peru',
 'Philippines',
 'Philippines (Davao City)',
 'Philippines (Luzon)',
 'Philippines (Malita)',
 'Philippines (Mindanao)',
 'Philippines (Visayas)',
 'Republic of Laos',
 'Saint Kitts & Nevis',
 'Samoa',
 'Seychelles',
 'Solomon Islands',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Syria',
 'Thailand',
 'Thailand (Private)',
 'Thailand (Public)',
 'Timor Leste',
 'Tonga',
 'Trinidad and Tobago',
 'Trinidad and Tobago (Tobago)',
 'Trinidad and Tobago (Trinidad)',
 'Tuvalu',
 'UNRWA Gaza',
 'UNRWA Jordan',
 'UNRWA Lebanon',
 'UNRWA West Bank',
 'Uganda',
 'Uganda (Rural)',
 'Uganda (Urban)',
 'United Arab Emirates',
 'United Arab Emirates (Abu Dhabi Emir Govt)',
 'United Arab Emirates (Abu Dhabi Emir Private)',
 'United Arab Emirates (Dubai Emir Govt)',
 'United Arab Emirates (Dubai Emir Private)',
 'United Arab Emirates (Northern Emir Govt)',
 'United Arab Emirates (Northern Emir Private)',
 'United Arab Emirates (Sharjah Emir Govt)',
 'United Arab Emirates (Sharjah Emir Private)',
 'Uruguay',
 'Uruguay (Montevideo)',
 'Uruguay (Rest of Country)',
 'Vanuatu',
 'Vietnam',
 'Wallis and Futuna',
 'Yemen']

In [56]:
obese_children['LocationDesc'] = obese_children['LocationDesc'].str.split('(').str[0]
obese_children['LocationDesc'] = obese_children['LocationDesc'].str.split('-').str[0]

C:\Users\alecb\AppData\Local\Temp\ipykernel_3860\2970860120.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obese_children['LocationDesc'] = obese_children['LocationDesc'].str.split('(').str[0]
C:\Users\alecb\AppData\Local\Temp\ipykernel_3860\2970860120.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  obese_children['LocationDesc'] = obese_children['LocationDesc'].str.split('-').str[0]

In [57]:
sorted(obese_children.LocationDesc.unique())

['Afghanistan',
 'Algeria',
 'Algeria Rural',
 'Algeria Urban',
 'Argentina',
 'Argentina Chaco',
 'Argentina Chubut',
 'Argentina Cordoba',
 'Argentina Corrientes',
 'Argentina Entre Rios',
 'Argentina Jujuy',
 'Argentina La Pampa',
 'Argentina Mendoza',
 'Argentina Neuquen',
 'Argentina Salta',
 'Argentina San Juan',
 'Argentina Santa Fe',
 'Argentina Santiago del Estero',
 'Bahamas',
 'Bangladesh',
 'Barbados',
 'Belize',
 'Benin',
 'Bolivia',
 'Bolivia Highland',
 'Bolivia Plains',
 'Bolivia Valley',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Cambodia',
 'Cambodia Rural',
 'Cambodia Urban',
 'Chile',
 'Chile ',
 'China ',
 'Cook Islands',
 'Costa Rica',
 'Djibouti',
 'Dominica',
 'Ecuador ',
 'Egypt',
 'El Salvador',
 'Fiji Islands',
 'Ghana',
 'Ghana ',
 'Ghana Junior High',
 'Ghana Senior High',
 'Guatemala',
 'Guatemala ',
 'Guyana',
 'Honduras',
 'India',
 'Indonesia',
 'Indonesia ',
 'Iraq',
 'Jamaica',
 'Jordan',
 'Kiribati',
 'Kuwait',
 'Lebanon',
 'Lebanon ',
 'Libya',
 'Macedonia',
 'Malawi',
 'Malawi ',
 'Malaysia',
 'Malaysia ',
 'Maldives',
 'Maldives ',
 'Mauritania',
 'Mauritius ',
 'Mongolia',
 'Mongolia Rural',
 'Mongolia Urban',
 'Morocco',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Niue',
 'Oman',
 'Pakistan',
 'Palestine ',
 'Peru',
 'Philippines',
 'Philippines ',
 'Republic of Laos',
 'Saint Kitts & Nevis',
 'Samoa',
 'Seychelles',
 'Solomon Islands',
 'Sri Lanka',
 'Sudan',
 'Suriname',
 'Swaziland',
 'Syria',
 'Thailand',
 'Thailand ',
 'Timor Leste',
 'Tonga',
 'Trinidad and Tobago',
 'Trinidad and Tobago ',
 'Tuvalu',
 'UNRWA Gaza',
 'UNRWA Jordan',
 'UNRWA Lebanon',
 'UNRWA West Bank',
 'Uganda',
 'Uganda ',
 'United Arab Emirates',
 'United Arab Emirates ',
 'Uruguay',
 'Uruguay ',
 'Vanuatu',
 'Vietnam',
 'Wallis and Futuna',
 'Yemen']

In [62]:
sorted(globe_internet['Country Name'].unique())

['Afghanistan',
 'Africa Eastern and Southern',
 'Africa Western and Central',
 'Albania',
 'Algeria',
 'American Samoa',
 'Andorra',
 'Angola',
 'Antigua and Barbuda',
 'Arab World',
 'Argentina',
 'Armenia',
 'Aruba',
 'Australia',
 'Austria',
 'Azerbaijan',
 'Bahamas, The',
 'Bahrain',
 'Bangladesh',
 'Barbados',
 'Belarus',
 'Belgium',
 'Belize',
 'Benin',
 'Bermuda',
 'Bhutan',
 'Bolivia',
 'Bosnia and Herzegovina',
 'Botswana',
 'Brazil',
 'British Virgin Islands',
 'Brunei Darussalam',
 'Bulgaria',
 'Burkina Faso',
 'Burundi',
 'Cabo Verde',
 'Cambodia',
 'Cameroon',
 'Canada',
 'Caribbean small states',
 'Cayman Islands',
 'Central African Republic',
 'Central Europe and the Baltics',
 'Chad',
 'Channel Islands',
 'Chile',
 'China',
 'Colombia',
 'Comoros',
 'Congo, Dem. Rep.',
 'Congo, Rep.',
 'Costa Rica',
 "Cote d'Ivoire",
 'Croatia',
 'Cuba',
 'Curacao',
 'Cyprus',
 'Czechia',
 'Denmark',
 'Djibouti',
 'Dominica',
 'Dominican Republic',
 'Early-demographic dividend',
 'East Asia & Pacific',
 'East Asia & Pacific (IDA & IBRD countries)',
 'East Asia & Pacific (excluding high income)',
 'Ecuador',
 'Egypt, Arab Rep.',
 'El Salvador',
 'Equatorial Guinea',
 'Eritrea',
 'Estonia',
 'Eswatini',
 'Ethiopia',
 'Euro area',
 'Europe & Central Asia',
 'Europe & Central Asia (IDA & IBRD countries)',
 'Europe & Central Asia (excluding high income)',
 'European Union',
 'Faroe Islands',
 'Fiji',
 'Finland',
 'Fragile and conflict affected situations',
 'France',
 'French Polynesia',
 'Gabon',
 'Gambia, The',
 'Georgia',
 'Germany',
 'Ghana',
 'Gibraltar',
 'Greece',
 'Greenland',
 'Grenada',
 'Guam',
 'Guatemala',
 'Guinea',
 'Guinea-Bissau',
 'Guyana',
 'Haiti',
 'Heavily indebted poor countries (HIPC)',
 'High income',
 'Honduras',
 'Hong Kong SAR, China',
 'Hungary',
 'IBRD only',
 'IDA & IBRD total',
 'IDA blend',
 'IDA only',
 'IDA total',
 'Iceland',
 'India',
 'Indonesia',
 'Iran, Islamic Rep.',
 'Iraq',
 'Ireland',
 'Isle of Man',
 'Israel',
 'Italy',
 'Jamaica',
 'Japan',
 'Jordan',
 'Kazakhstan',
 'Kenya',
 'Kiribati',
 "Korea, Dem. People's Rep.",
 'Korea, Rep.',
 'Kosovo',
 'Kuwait',
 'Kyrgyz Republic',
 'Lao PDR',
 'Late-demographic dividend',
 'Latin America & Caribbean',
 'Latin America & Caribbean (excluding high income)',
 'Latin America & the Caribbean (IDA & IBRD countries)',
 'Latvia',
 'Least developed countries: UN classification',
 'Lebanon',
 'Lesotho',
 'Liberia',
 'Libya',
 'Liechtenstein',
 'Lithuania',
 'Low & middle income',
 'Low income',
 'Lower middle income',
 'Luxembourg',
 'Macao SAR, China',
 'Madagascar',
 'Malawi',
 'Malaysia',
 'Maldives',
 'Mali',
 'Malta',
 'Marshall Islands',
 'Mauritania',
 'Mauritius',
 'Mexico',
 'Micronesia, Fed. Sts.',
 'Middle East & North Africa',
 'Middle East & North Africa (IDA & IBRD countries)',
 'Middle East & North Africa (excluding high income)',
 'Middle income',
 'Moldova',
 'Monaco',
 'Mongolia',
 'Montenegro',
 'Morocco',
 'Mozambique',
 'Myanmar',
 'Namibia',
 'Nauru',
 'Nepal',
 'Netherlands',
 'New Caledonia',
 'New Zealand',
 'Nicaragua',
 'Niger',
 'Nigeria',
 'North America',
 'North Macedonia',
 'Northern Mariana Islands',
 'Norway',
 'Not classified',
 'OECD members',
 'Oman',
 'Other small states',
 'Pacific island small states',
 'Pakistan',
 'Palau',
 'Panama',
 'Papua New Guinea',
 'Paraguay',
 'Peru',
 'Philippines',
 'Poland',
 'Portugal',
 'Post-demographic dividend',
 'Pre-demographic dividend',
 'Puerto Rico',
 'Qatar',
 'Romania',
 'Russian Federation',
 'Rwanda',
 'Samoa',
 'San Marino',
 'Sao Tome and Principe',
 'Saudi Arabia',
 'Senegal',
 'Serbia',
 'Seychelles',
 'Sierra Leone',
 'Singapore',
 'Sint Maarten (Dutch part)',
 'Slovak Republic',
 'Slovenia',
 'Small states',
 'Solomon Islands',
 'Somalia',
 'South Africa',
 'South Asia',
 'South Asia (IDA & IBRD)',
 'South Sudan',
 'Spain',
 'Sri Lanka',
 'St. Kitts and Nevis',
 'St. Lucia',
 'St. Martin (French part)',
 'St. Vincent and the Grenadines',
 'Sub-Saharan Africa',
 'Sub-Saharan Africa (IDA & IBRD countries)',
 'Sub-Saharan Africa (excluding high income)',
 'Sudan',
 'Suriname',
 'Sweden',
 'Switzerland',
 'Syrian Arab Republic',
 'Tajikistan',
 'Tanzania',
 'Thailand',
 'Timor-Leste',
 'Togo',
 'Tonga',
 'Trinidad and Tobago',
 'Tunisia',
 'Turkiye',
 'Turkmenistan',
 'Turks and Caicos Islands',
 'Tuvalu',
 'Uganda',
 'Ukraine',
 'United Arab Emirates',
 'United Kingdom',
 'United States',
 'Upper middle income',
 'Uruguay',
 'Uzbekistan',
 'Vanuatu',
 'Venezuela, RB',
 'Vietnam',
 'Virgin Islands (U.S.)',
 'West Bank and Gaza',
 'World',
 'Yemen, Rep.',
 'Zambia',
 'Zimbabwe']

In [61]:
globe_internet_childobesity.corr()

,Greater_Risk_Data_Value,Sample_Size,Percent Internet Use
Greater_Risk_Data_Value,1.000000,-0.039667,0.371956
Sample_Size,-0.039667,1.000000,0.085989
Percent Internet Use,0.371956,0.085989,1.000000

#### The correlation coefficient (on the global scale) for childhood obesity and internet users is 0.372

In [58]:
obese_children.to_csv('global_obese_children.csv', index = False)

In [37]:
globe_internet.to_csv('global_internet_use.csv', index = False)