In [1]:
import pandas as pd

In [2]:
bullied = pd.read_csv('../cleaned_data/global_bullied_children_2003_2015_ages_13_17_clean.csv')
internet = pd.read_csv('../cleaned_data/global_internet_use_1960_2022_clean.csv')

In [3]:
bullied.head()

,Unnamed: 0,Year,LocationAbbr,LocationDesc,Topic,Subtopic,ShortQuestionText,Greater_Risk_Question,Description,Age,Sex,Data_Value_Symbol,Data_Value_Type,Greater_Risk_Data_Value
0,84842,2003,CNA,China (Beijing),Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,19.9575
1,201567,2003,CNB,China (Hangzhou),Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,32.0323
2,223318,2003,CNC,China (Wuhan),Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,31.9791
3,65494,2003,CND,China (Wurumqi),Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,31.5533
4,159852,2003,KE,Kenya,Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,57.7321

In [5]:
bullied = bullied.drop(bullied.columns[0], axis = 1)
bullied.head()

,Year,LocationAbbr,LocationDesc,Topic,Subtopic,ShortQuestionText,Greater_Risk_Question,Description,Age,Sex,Data_Value_Symbol,Data_Value_Type,Greater_Risk_Data_Value
0,2003,CNA,China (Beijing),Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,19.9575
1,2003,CNB,China (Hangzhou),Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,32.0323
2,2003,CNC,China (Wuhan),Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,31.9791
3,2003,CND,China (Wurumqi),Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,31.5533
4,2003,KE,Kenya,Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,57.7321

In [4]:
internet.head()

,Country Name,1960,1961,1962,1963,1964,1965,1966,1967,1968,...,2012,2013,2014,2015,2016,2017,2018,2019,2020,2021
0,Aruba,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,74.000000,78.900000,83.780000,88.661227,93.542454,97.170000,97.170000,97.170000,97.170000,97.170000
1,Africa Eastern and Southern,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.534750,10.126945,12.237716,14.593148,16.378025,18.098060,21.653313,24.247500,26.200657,26.200657
2,Afghanistan,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,5.454545,5.900000,7.000000,8.260000,11.000000,13.500000,16.800000,17.600000,18.400000,18.400000
3,Africa Western and Central,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,10.293655,12.577756,14.923441,18.179203,21.829266,25.176342,29.305247,29.023474,34.093121,34.093121
4,Angola,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.700000,13.000000,21.400000,22.000000,23.200000,26.000000,29.000000,32.400000,36.000000,36.000000

In [6]:
internet = internet.melt(
    id_vars=['Country Name'], 
    var_name='Year', 
    value_name='Percent Internet Use'
)

internet.head()

                  Country Name  Year  Percent Internet Use
0                        Aruba  1960                   0.0
1  Africa Eastern and Southern  1960                   0.0
2                  Afghanistan  1960                   0.0
3   Africa Western and Central  1960                   0.0
4                       Angola  1960                   0.0

In [7]:
bullied['Year'] = bullied['Year'].astype(str)

In [8]:
globe_internet_bullied = pd.merge(bullied, internet, 
                               left_on = ('Year', 'LocationDesc'), right_on = ('Year', 'Country Name'), 
                               how = 'inner')

In [9]:
globe_internet_bullied

,Year,LocationAbbr,LocationDesc,Topic,Subtopic,ShortQuestionText,Greater_Risk_Question,Description,Age,Sex,Data_Value_Symbol,Data_Value_Type,Greater_Risk_Data_Value,Country Name,Percent Internet Use
0,2003,KE,Kenya,Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,57.7321,Kenya,2.941903
1,2003,PI,Philippines,Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,35.6759,Philippines,4.857672
2,2003,UG,Uganda,Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,45.8806,Uganda,0.464850
3,2004,GY,Guyana,Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,38.9818,Guyana,3.700000
4,2004,JO,Jordan,Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,45.1679,Jordan,11.658741
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
82,2015,MZ,Mozambique,Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,45.5388,Mozambique,6.500000
83,2015,OM,Oman,Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,43.5977,Oman,73.530000
84,2015,PI,Philippines,Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,48.6942,Philippines,36.900000
85,2015,SH,Seychelles,Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,46.3080,Seychelles,54.259618
86,2015,TH,Thailand,Unintentional Injuries and Violence,Behaviors that Contribute to Violence,Bullied,Were bullied,one or more days during the 30 days before the...,Total,Total,%,Percentage,29.2983,Thailand,39.316127

In [11]:
globe_internet_bullied.to_csv('../cleaned_data/Global_internet_bullied.csv', index = False)