## This script is used to scrape information from a pdf. The pdf's to be scraped are from the United States Census Bureau, and contain information about internet use from 1984 to 1997.

In [1]:
import PyPDF2
import csv

In [2]:
pdfFileObj = open('data/1997_internet_use_by_age.pdf', 'rb')

Reader = PyPDF2.PdfReader(pdfFileObj)

print(len(Reader.pages))

pageObj = Reader.pages[0]

print(pageObj.extract_text())

pdfFileObj.close()

6
-26-Table 11. Use of Internet at Home, School, and Work by People 3 to 17 Years: October 1997
(Numbers in thousands. Civilian noninstitutional population.)
------------------------------------------------------------------------
|Characteristic                   |        |   Use Internet anyplace   |
|                                 | Total  |---------------------------|
|                                 |people  |     Yes     |     No      |
|                                 |3 to 17 |-------------+-------------|
|                                 | years  |Number | Pct |Number | Pct |
|---------------------------------+--------+-------+-----+-------+-----|
|TOTAL                            |  59,890| 13,536| 22.6| 46,355| 77.4|
|AGE                              |        |       |     |       |     |
|3 years                          |   3,947|     13|  0.3|  3,933| 99.7|
|4 years                          |   4,033|     44|  1.1|  3,989| 98.9|
|5 years                          |   4,141|    152|  3.7|  3,989| 96.3|
|6 years                          |   4,108|    346|  8.4|  3,762| 91.6|
|7 years                          |   4,263|    557| 13.1|  3,706| 86.9|
|8 years                          |   3,950|    636| 16.1|  3,313| 83.9|
|9 years                          |   4,013|    832| 20.7|  3,181| 79.3|
|10 years                         |   3,970|  1,021| 25.7|  2,949| 74.3|
|11 years                         |   3,871|  1,189| 30.7|  2,682| 69.3|
|12 years                         |   3,920|  1,397| 35.6|  2,523| 64.4|
|13 years                         |   3,861|  1,364| 35.3|  2,497| 64.7|
|14 years                         |   3,869|  1,383| 35.8|  2,486| 64.2|
|15 years                         |   3,958|  1,572| 39.7|  2,385| 60.3|
|16 years                         |   3,946|  1,526| 38.7|  2,421| 61.3|
|17 years                         |   4,041|  1,504| 37.2|  2,537| 62.8|
|RACE                             |        |       |     |       |     |
|White Not Hispanic               |  38,560| 10,439| 27.1| 28,121| 72.9|
|Black Not Hispanic               |   9,537|  1,346| 14.1|  8,192| 85.9|
|Other Not Hispanic               |   3,035|    695| 22.9|  2,340| 77.1|
|Hispanic                         |   8,758|  1,056| 12.1|  7,702| 87.9|
|GENDER                           |        |       |     |       |     |
|Male                             |  30,630|  7,037| 23.0| 23,593| 77.0|
|Female                           |  29,260|  6,498| 22.2| 22,762| 77.8|
|HOUSEHOLD TYPE                   |        |       |     |       |     |
|Married couple household         |  42,664| 10,598| 24.8| 32,066| 75.2|
|Male householder                 |   3,305|    695| 21.0|  2,610| 79.0|
|Female householder               |  13,921|  2,243| 16.1| 11,679| 83.9|
|REGION                           |        |       |     |       |     |
|Northeast                        |  11,214|  2,725| 24.3|  8,488| 75.7|
|Midwest                          |  14,091|  3,358| 23.8| 10,733| 76.2|
|South                            |  20,317|  4,198| 20.7| 16,119| 79.3|
|West                             |  14,269|  3,254| 22.8| 11,015| 77.2|
|HOUSEHOLDER EDUCATIONAL          |        |       |     |       |     |
|ATTAINMENT                       |        |       |     |       |     |
|Elementary: 0-8 years            |   3,816|    361|  9.5|  3,455| 90.5|
|Some H.S.: no diploma            |   6,372|    791| 12.4|  5,582| 87.6|
|H.S. Diploma/GED                 |  19,291|  3,615| 18.7| 15,676| 81.3|
|Some College                     |  16,669|  4,100| 24.6| 12,569| 75.4|
|Bachelors degree or more         |  13,743|  4,669| 34.0|  9,074| 66.0|
|HOUSEHOLDER EMPLOYMENT STATUS    |        |       |     |       |     |
|Employed                         |  48,154| 11,587| 24.1| 36,566| 75.9|
|Unemployed                       |   2,059|    304| 14.8|  1,755| 85.2|
|Not in Labor force               |   9,678|  1,644| 17.0|  8,033| 83.0|
|FAMILY INCOME                    |        |       |     |       |     |
|Under $5,000                     |   2,660|    358| 13.4|  2,302| 86.6|
|5,000-9,999                      |   3,957|    429| 10.8|  3,528| 89.2|
|10,000-14,999                    |   4,430|    550| 12.4|  3,880| 87.6|
|15,000-19,999                    |   3,285|    474| 14.4|  2,811| 85.6|
|20,000-24,999                    |   3,970|    656| 16.5|  3,314| 83.5|
|25,000-34,999                    |   7,616|  1,536| 20.2|  6,080| 79.8|
|35,000-49,999                    |   9,606|  2,147| 22.4|  7,459| 77.6|
|50,000-74,999                    |  10,261|  2,972| 29.0|  7,288| 71.0|
------------------------------------------------------------------------

In [3]:
p = pageObj.extract_text()
first_list = p.splitlines()
first_list

['-26-Table 11. Use of Internet at Home, School, and Work by People 3 to 17 Years: October 1997',
 '(Numbers in thousands. Civilian noninstitutional population.)',
 '------------------------------------------------------------------------',
 '|Characteristic                   |        |   Use Internet anyplace   |',
 '|                                 | Total  |---------------------------|',
 '|                                 |people  |     Yes     |     No      |',
 '|                                 |3 to 17 |-------------+-------------|',
 '|                                 | years  |Number | Pct |Number | Pct |',
 '|---------------------------------+--------+-------+-----+-------+-----|',
 '|TOTAL                            |  59,890| 13,536| 22.6| 46,355| 77.4|',
 '|AGE                              |        |       |     |       |     |',
 '|3 years                          |   3,947|     13|  0.3|  3,933| 99.7|',
 '|4 years                          |   4,033|     44|  1.1|  3,989| 98.9|',
 '|5 years                          |   4,141|    152|  3.7|  3,989| 96.3|',
 '|6 years                          |   4,108|    346|  8.4|  3,762| 91.6|',
 '|7 years                          |   4,263|    557| 13.1|  3,706| 86.9|',
 '|8 years                          |   3,950|    636| 16.1|  3,313| 83.9|',
 '|9 years                          |   4,013|    832| 20.7|  3,181| 79.3|',
 '|10 years                         |   3,970|  1,021| 25.7|  2,949| 74.3|',
 '|11 years                         |   3,871|  1,189| 30.7|  2,682| 69.3|',
 '|12 years                         |   3,920|  1,397| 35.6|  2,523| 64.4|',
 '|13 years                         |   3,861|  1,364| 35.3|  2,497| 64.7|',
 '|14 years                         |   3,869|  1,383| 35.8|  2,486| 64.2|',
 '|15 years                         |   3,958|  1,572| 39.7|  2,385| 60.3|',
 '|16 years                         |   3,946|  1,526| 38.7|  2,421| 61.3|',
 '|17 years                         |   4,041|  1,504| 37.2|  2,537| 62.8|',
 '|RACE                             |        |       |     |       |     |',
 '|White Not Hispanic               |  38,560| 10,439| 27.1| 28,121| 72.9|',
 '|Black Not Hispanic               |   9,537|  1,346| 14.1|  8,192| 85.9|',
 '|Other Not Hispanic               |   3,035|    695| 22.9|  2,340| 77.1|',
 '|Hispanic                         |   8,758|  1,056| 12.1|  7,702| 87.9|',
 '|GENDER                           |        |       |     |       |     |',
 '|Male                             |  30,630|  7,037| 23.0| 23,593| 77.0|',
 '|Female                           |  29,260|  6,498| 22.2| 22,762| 77.8|',
 '|HOUSEHOLD TYPE                   |        |       |     |       |     |',
 '|Married couple household         |  42,664| 10,598| 24.8| 32,066| 75.2|',
 '|Male householder                 |   3,305|    695| 21.0|  2,610| 79.0|',
 '|Female householder               |  13,921|  2,243| 16.1| 11,679| 83.9|',
 '|REGION                           |        |       |     |       |     |',
 '|Northeast                        |  11,214|  2,725| 24.3|  8,488| 75.7|',
 '|Midwest                          |  14,091|  3,358| 23.8| 10,733| 76.2|',
 '|South                            |  20,317|  4,198| 20.7| 16,119| 79.3|',
 '|West                             |  14,269|  3,254| 22.8| 11,015| 77.2|',
 '|HOUSEHOLDER EDUCATIONAL          |        |       |     |       |     |',
 '|ATTAINMENT                       |        |       |     |       |     |',
 '|Elementary: 0-8 years            |   3,816|    361|  9.5|  3,455| 90.5|',
 '|Some H.S.: no diploma            |   6,372|    791| 12.4|  5,582| 87.6|',
 '|H.S. Diploma/GED                 |  19,291|  3,615| 18.7| 15,676| 81.3|',
 '|Some College                     |  16,669|  4,100| 24.6| 12,569| 75.4|',
 '|Bachelors degree or more         |  13,743|  4,669| 34.0|  9,074| 66.0|',
 '|HOUSEHOLDER EMPLOYMENT STATUS    |        |       |     |       |     |',
 '|Employed                         |  48,154| 11,587| 24.1| 36,566| 75.9|',
 '|Unemployed                       |   2,059|    304| 14.8|  1,755| 85.2|',
 '|Not in Labor force               |   9,678|  1,644| 17.0|  8,033| 83.0|',
 '|FAMILY INCOME                    |        |       |     |       |     |',
 '|Under $5,000                     |   2,660|    358| 13.4|  2,302| 86.6|',
 '|5,000-9,999                      |   3,957|    429| 10.8|  3,528| 89.2|',
 '|10,000-14,999                    |   4,430|    550| 12.4|  3,880| 87.6|',
 '|15,000-19,999                    |   3,285|    474| 14.4|  2,811| 85.6|',
 '|20,000-24,999                    |   3,970|    656| 16.5|  3,314| 83.5|',
 '|25,000-34,999                    |   7,616|  1,536| 20.2|  6,080| 79.8|',
 '|35,000-49,999                    |   9,606|  2,147| 22.4|  7,459| 77.6|',
 '|50,000-74,999                    |  10,261|  2,972| 29.0|  7,288| 71.0|',
 '------------------------------------------------------------------------']

In [4]:
i=0
new_list=[]
while i<len(first_list):
  new_list.append(first_list[i:i+1])
  i+=1

In [5]:
new_list

[['-26-Table 11. Use of Internet at Home, School, and Work by People 3 to 17 Years: October 1997'],
 ['(Numbers in thousands. Civilian noninstitutional population.)'],
 ['------------------------------------------------------------------------'],
 ['|Characteristic                   |        |   Use Internet anyplace   |'],
 ['|                                 | Total  |---------------------------|'],
 ['|                                 |people  |     Yes     |     No      |'],
 ['|                                 |3 to 17 |-------------+-------------|'],
 ['|                                 | years  |Number | Pct |Number | Pct |'],
 ['|---------------------------------+--------+-------+-----+-------+-----|'],
 ['|TOTAL                            |  59,890| 13,536| 22.6| 46,355| 77.4|'],
 ['|AGE                              |        |       |     |       |     |'],
 ['|3 years                          |   3,947|     13|  0.3|  3,933| 99.7|'],
 ['|4 years                          |   4,033|     44|  1.1|  3,989| 98.9|'],
 ['|5 years                          |   4,141|    152|  3.7|  3,989| 96.3|'],
 ['|6 years                          |   4,108|    346|  8.4|  3,762| 91.6|'],
 ['|7 years                          |   4,263|    557| 13.1|  3,706| 86.9|'],
 ['|8 years                          |   3,950|    636| 16.1|  3,313| 83.9|'],
 ['|9 years                          |   4,013|    832| 20.7|  3,181| 79.3|'],
 ['|10 years                         |   3,970|  1,021| 25.7|  2,949| 74.3|'],
 ['|11 years                         |   3,871|  1,189| 30.7|  2,682| 69.3|'],
 ['|12 years                         |   3,920|  1,397| 35.6|  2,523| 64.4|'],
 ['|13 years                         |   3,861|  1,364| 35.3|  2,497| 64.7|'],
 ['|14 years                         |   3,869|  1,383| 35.8|  2,486| 64.2|'],
 ['|15 years                         |   3,958|  1,572| 39.7|  2,385| 60.3|'],
 ['|16 years                         |   3,946|  1,526| 38.7|  2,421| 61.3|'],
 ['|17 years                         |   4,041|  1,504| 37.2|  2,537| 62.8|'],
 ['|RACE                             |        |       |     |       |     |'],
 ['|White Not Hispanic               |  38,560| 10,439| 27.1| 28,121| 72.9|'],
 ['|Black Not Hispanic               |   9,537|  1,346| 14.1|  8,192| 85.9|'],
 ['|Other Not Hispanic               |   3,035|    695| 22.9|  2,340| 77.1|'],
 ['|Hispanic                         |   8,758|  1,056| 12.1|  7,702| 87.9|'],
 ['|GENDER                           |        |       |     |       |     |'],
 ['|Male                             |  30,630|  7,037| 23.0| 23,593| 77.0|'],
 ['|Female                           |  29,260|  6,498| 22.2| 22,762| 77.8|'],
 ['|HOUSEHOLD TYPE                   |        |       |     |       |     |'],
 ['|Married couple household         |  42,664| 10,598| 24.8| 32,066| 75.2|'],
 ['|Male householder                 |   3,305|    695| 21.0|  2,610| 79.0|'],
 ['|Female householder               |  13,921|  2,243| 16.1| 11,679| 83.9|'],
 ['|REGION                           |        |       |     |       |     |'],
 ['|Northeast                        |  11,214|  2,725| 24.3|  8,488| 75.7|'],
 ['|Midwest                          |  14,091|  3,358| 23.8| 10,733| 76.2|'],
 ['|South                            |  20,317|  4,198| 20.7| 16,119| 79.3|'],
 ['|West                             |  14,269|  3,254| 22.8| 11,015| 77.2|'],
 ['|HOUSEHOLDER EDUCATIONAL          |        |       |     |       |     |'],
 ['|ATTAINMENT                       |        |       |     |       |     |'],
 ['|Elementary: 0-8 years            |   3,816|    361|  9.5|  3,455| 90.5|'],
 ['|Some H.S.: no diploma            |   6,372|    791| 12.4|  5,582| 87.6|'],
 ['|H.S. Diploma/GED                 |  19,291|  3,615| 18.7| 15,676| 81.3|'],
 ['|Some College                     |  16,669|  4,100| 24.6| 12,569| 75.4|'],
 ['|Bachelors degree or more         |  13,743|  4,669| 34.0|  9,074| 66.0|'],
 ['|HOUSEHOLDER EMPLOYMENT STATUS    |        |       |     |       |     |'],
 ['|Employed                         |  48,154| 11,587| 24.1| 36,566| 75.9|'],
 ['|Unemployed                       |   2,059|    304| 14.8|  1,755| 85.2|'],
 ['|Not in Labor force               |   9,678|  1,644| 17.0|  8,033| 83.0|'],
 ['|FAMILY INCOME                    |        |       |     |       |     |'],
 ['|Under $5,000                     |   2,660|    358| 13.4|  2,302| 86.6|'],
 ['|5,000-9,999                      |   3,957|    429| 10.8|  3,528| 89.2|'],
 ['|10,000-14,999                    |   4,430|    550| 12.4|  3,880| 87.6|'],
 ['|15,000-19,999                    |   3,285|    474| 14.4|  2,811| 85.6|'],
 ['|20,000-24,999                    |   3,970|    656| 16.5|  3,314| 83.5|'],
 ['|25,000-34,999                    |   7,616|  1,536| 20.2|  6,080| 79.8|'],
 ['|35,000-49,999                    |   9,606|  2,147| 22.4|  7,459| 77.6|'],
 ['|50,000-74,999                    |  10,261|  2,972| 29.0|  7,288| 71.0|'],
 ['------------------------------------------------------------------------']]

In [6]:
new_list = [[i.split('|') for i in x] for x in new_list]

In [7]:
new_list

[[['-26-Table 11. Use of Internet at Home, School, and Work by People 3 to 17 Years: October 1997']],
 [['(Numbers in thousands. Civilian noninstitutional population.)']],
 [['------------------------------------------------------------------------']],
 [['',
   'Characteristic                   ',
   '        ',
   '   Use Internet anyplace   ',
   '']],
 [['',
   '                                 ',
   ' Total  ',
   '---------------------------',
   '']],
 [['',
   '                                 ',
   'people  ',
   '     Yes     ',
   '     No      ',
   '']],
 [['',
   '                                 ',
   '3 to 17 ',
   '-------------+-------------',
   '']],
 [['',
   '                                 ',
   ' years  ',
   'Number ',
   ' Pct ',
   'Number ',
   ' Pct ',
   '']],
 [['',
   '---------------------------------+--------+-------+-----+-------+-----',
   '']],
 [['',
   'TOTAL                            ',
   '  59,890',
   ' 13,536',
   ' 22.6',
   ' 46,355',
   ' 77.4',
   '']],
 [['',
   'AGE                              ',
   '        ',
   '       ',
   '     ',
   '       ',
   '     ',
   '']],
 [['',
   '3 years                          ',
   '   3,947',
   '     13',
   '  0.3',
   '  3,933',
   ' 99.7',
   '']],
 [['',
   '4 years                          ',
   '   4,033',
   '     44',
   '  1.1',
   '  3,989',
   ' 98.9',
   '']],
 [['',
   '5 years                          ',
   '   4,141',
   '    152',
   '  3.7',
   '  3,989',
   ' 96.3',
   '']],
 [['',
   '6 years                          ',
   '   4,108',
   '    346',
   '  8.4',
   '  3,762',
   ' 91.6',
   '']],
 [['',
   '7 years                          ',
   '   4,263',
   '    557',
   ' 13.1',
   '  3,706',
   ' 86.9',
   '']],
 [['',
   '8 years                          ',
   '   3,950',
   '    636',
   ' 16.1',
   '  3,313',
   ' 83.9',
   '']],
 [['',
   '9 years                          ',
   '   4,013',
   '    832',
   ' 20.7',
   '  3,181',
   ' 79.3',
   '']],
 [['',
   '10 years                         ',
   '   3,970',
   '  1,021',
   ' 25.7',
   '  2,949',
   ' 74.3',
   '']],
 [['',
   '11 years                         ',
   '   3,871',
   '  1,189',
   ' 30.7',
   '  2,682',
   ' 69.3',
   '']],
 [['',
   '12 years                         ',
   '   3,920',
   '  1,397',
   ' 35.6',
   '  2,523',
   ' 64.4',
   '']],
 [['',
   '13 years                         ',
   '   3,861',
   '  1,364',
   ' 35.3',
   '  2,497',
   ' 64.7',
   '']],
 [['',
   '14 years                         ',
   '   3,869',
   '  1,383',
   ' 35.8',
   '  2,486',
   ' 64.2',
   '']],
 [['',
   '15 years                         ',
   '   3,958',
   '  1,572',
   ' 39.7',
   '  2,385',
   ' 60.3',
   '']],
 [['',
   '16 years                         ',
   '   3,946',
   '  1,526',
   ' 38.7',
   '  2,421',
   ' 61.3',
   '']],
 [['',
   '17 years                         ',
   '   4,041',
   '  1,504',
   ' 37.2',
   '  2,537',
   ' 62.8',
   '']],
 [['',
   'RACE                             ',
   '        ',
   '       ',
   '     ',
   '       ',
   '     ',
   '']],
 [['',
   'White Not Hispanic               ',
   '  38,560',
   ' 10,439',
   ' 27.1',
   ' 28,121',
   ' 72.9',
   '']],
 [['',
   'Black Not Hispanic               ',
   '   9,537',
   '  1,346',
   ' 14.1',
   '  8,192',
   ' 85.9',
   '']],
 [['',
   'Other Not Hispanic               ',
   '   3,035',
   '    695',
   ' 22.9',
   '  2,340',
   ' 77.1',
   '']],
 [['',
   'Hispanic                         ',
   '   8,758',
   '  1,056',
   ' 12.1',
   '  7,702',
   ' 87.9',
   '']],
 [['',
   'GENDER                           ',
   '        ',
   '       ',
   '     ',
   '       ',
   '     ',
   '']],
 [['',
   'Male                             ',
   '  30,630',
   '  7,037',
   ' 23.0',
   ' 23,593',
   ' 77.0',
   '']],
 [['',
   'Female                           ',
   '  29,260',
   '  6,498',
   ' 22.2',
   ' 22,762',
   ' 77.8',
   '']],
 [['',
   'HOUSEHOLD TYPE                   ',
   '        ',
   '       ',
   '     ',
   '       ',
   '     ',
   '']],
 [['',
   'Married couple household         ',
   '  42,664',
   ' 10,598',
   ' 24.8',
   ' 32,066',
   ' 75.2',
   '']],
 [['',
   'Male householder                 ',
   '   3,305',
   '    695',
   ' 21.0',
   '  2,610',
   ' 79.0',
   '']],
 [['',
   'Female householder               ',
   '  13,921',
   '  2,243',
   ' 16.1',
   ' 11,679',
   ' 83.9',
   '']],
 [['',
   'REGION                           ',
   '        ',
   '       ',
   '     ',
   '       ',
   '     ',
   '']],
 [['',
   'Northeast                        ',
   '  11,214',
   '  2,725',
   ' 24.3',
   '  8,488',
   ' 75.7',
   '']],
 [['',
   'Midwest                          ',
   '  14,091',
   '  3,358',
   ' 23.8',
   ' 10,733',
   ' 76.2',
   '']],
 [['',
   'South                            ',
   '  20,317',
   '  4,198',
   ' 20.7',
   ' 16,119',
   ' 79.3',
   '']],
 [['',
   'West                             ',
   '  14,269',
   '  3,254',
   ' 22.8',
   ' 11,015',
   ' 77.2',
   '']],
 [['',
   'HOUSEHOLDER EDUCATIONAL          ',
   '        ',
   '       ',
   '     ',
   '       ',
   '     ',
   '']],
 [['',
   'ATTAINMENT                       ',
   '        ',
   '       ',
   '     ',
   '       ',
   '     ',
   '']],
 [['',
   'Elementary: 0-8 years            ',
   '   3,816',
   '    361',
   '  9.5',
   '  3,455',
   ' 90.5',
   '']],
 [['',
   'Some H.S.: no diploma            ',
   '   6,372',
   '    791',
   ' 12.4',
   '  5,582',
   ' 87.6',
   '']],
 [['',
   'H.S. Diploma/GED                 ',
   '  19,291',
   '  3,615',
   ' 18.7',
   ' 15,676',
   ' 81.3',
   '']],
 [['',
   'Some College                     ',
   '  16,669',
   '  4,100',
   ' 24.6',
   ' 12,569',
   ' 75.4',
   '']],
 [['',
   'Bachelors degree or more         ',
   '  13,743',
   '  4,669',
   ' 34.0',
   '  9,074',
   ' 66.0',
   '']],
 [['',
   'HOUSEHOLDER EMPLOYMENT STATUS    ',
   '        ',
   '       ',
   '     ',
   '       ',
   '     ',
   '']],
 [['',
   'Employed                         ',
   '  48,154',
   ' 11,587',
   ' 24.1',
   ' 36,566',
   ' 75.9',
   '']],
 [['',
   'Unemployed                       ',
   '   2,059',
   '    304',
   ' 14.8',
   '  1,755',
   ' 85.2',
   '']],
 [['',
   'Not in Labor force               ',
   '   9,678',
   '  1,644',
   ' 17.0',
   '  8,033',
   ' 83.0',
   '']],
 [['',
   'FAMILY INCOME                    ',
   '        ',
   '       ',
   '     ',
   '       ',
   '     ',
   '']],
 [['',
   'Under $5,000                     ',
   '   2,660',
   '    358',
   ' 13.4',
   '  2,302',
   ' 86.6',
   '']],
 [['',
   '5,000-9,999                      ',
   '   3,957',
   '    429',
   ' 10.8',
   '  3,528',
   ' 89.2',
   '']],
 [['',
   '10,000-14,999                    ',
   '   4,430',
   '    550',
   ' 12.4',
   '  3,880',
   ' 87.6',
   '']],
 [['',
   '15,000-19,999                    ',
   '   3,285',
   '    474',
   ' 14.4',
   '  2,811',
   ' 85.6',
   '']],
 [['',
   '20,000-24,999                    ',
   '   3,970',
   '    656',
   ' 16.5',
   '  3,314',
   ' 83.5',
   '']],
 [['',
   '25,000-34,999                    ',
   '   7,616',
   '  1,536',
   ' 20.2',
   '  6,080',
   ' 79.8',
   '']],
 [['',
   '35,000-49,999                    ',
   '   9,606',
   '  2,147',
   ' 22.4',
   '  7,459',
   ' 77.6',
   '']],
 [['',
   '50,000-74,999                    ',
   '  10,261',
   '  2,972',
   ' 29.0',
   '  7,288',
   ' 71.0',
   '']],
 [['------------------------------------------------------------------------']]]

In [8]:
flattened_list  = [val for sublist in new_list for val in sublist]

In [9]:
flattened_list

[['-26-Table 11. Use of Internet at Home, School, and Work by People 3 to 17 Years: October 1997'],
 ['(Numbers in thousands. Civilian noninstitutional population.)'],
 ['------------------------------------------------------------------------'],
 ['',
  'Characteristic                   ',
  '        ',
  '   Use Internet anyplace   ',
  ''],
 ['',
  '                                 ',
  ' Total  ',
  '---------------------------',
  ''],
 ['',
  '                                 ',
  'people  ',
  '     Yes     ',
  '     No      ',
  ''],
 ['',
  '                                 ',
  '3 to 17 ',
  '-------------+-------------',
  ''],
 ['',
  '                                 ',
  ' years  ',
  'Number ',
  ' Pct ',
  'Number ',
  ' Pct ',
  ''],
 ['',
  '---------------------------------+--------+-------+-----+-------+-----',
  ''],
 ['',
  'TOTAL                            ',
  '  59,890',
  ' 13,536',
  ' 22.6',
  ' 46,355',
  ' 77.4',
  ''],
 ['',
  'AGE                              ',
  '        ',
  '       ',
  '     ',
  '       ',
  '     ',
  ''],
 ['',
  '3 years                          ',
  '   3,947',
  '     13',
  '  0.3',
  '  3,933',
  ' 99.7',
  ''],
 ['',
  '4 years                          ',
  '   4,033',
  '     44',
  '  1.1',
  '  3,989',
  ' 98.9',
  ''],
 ['',
  '5 years                          ',
  '   4,141',
  '    152',
  '  3.7',
  '  3,989',
  ' 96.3',
  ''],
 ['',
  '6 years                          ',
  '   4,108',
  '    346',
  '  8.4',
  '  3,762',
  ' 91.6',
  ''],
 ['',
  '7 years                          ',
  '   4,263',
  '    557',
  ' 13.1',
  '  3,706',
  ' 86.9',
  ''],
 ['',
  '8 years                          ',
  '   3,950',
  '    636',
  ' 16.1',
  '  3,313',
  ' 83.9',
  ''],
 ['',
  '9 years                          ',
  '   4,013',
  '    832',
  ' 20.7',
  '  3,181',
  ' 79.3',
  ''],
 ['',
  '10 years                         ',
  '   3,970',
  '  1,021',
  ' 25.7',
  '  2,949',
  ' 74.3',
  ''],
 ['',
  '11 years                         ',
  '   3,871',
  '  1,189',
  ' 30.7',
  '  2,682',
  ' 69.3',
  ''],
 ['',
  '12 years                         ',
  '   3,920',
  '  1,397',
  ' 35.6',
  '  2,523',
  ' 64.4',
  ''],
 ['',
  '13 years                         ',
  '   3,861',
  '  1,364',
  ' 35.3',
  '  2,497',
  ' 64.7',
  ''],
 ['',
  '14 years                         ',
  '   3,869',
  '  1,383',
  ' 35.8',
  '  2,486',
  ' 64.2',
  ''],
 ['',
  '15 years                         ',
  '   3,958',
  '  1,572',
  ' 39.7',
  '  2,385',
  ' 60.3',
  ''],
 ['',
  '16 years                         ',
  '   3,946',
  '  1,526',
  ' 38.7',
  '  2,421',
  ' 61.3',
  ''],
 ['',
  '17 years                         ',
  '   4,041',
  '  1,504',
  ' 37.2',
  '  2,537',
  ' 62.8',
  ''],
 ['',
  'RACE                             ',
  '        ',
  '       ',
  '     ',
  '       ',
  '     ',
  ''],
 ['',
  'White Not Hispanic               ',
  '  38,560',
  ' 10,439',
  ' 27.1',
  ' 28,121',
  ' 72.9',
  ''],
 ['',
  'Black Not Hispanic               ',
  '   9,537',
  '  1,346',
  ' 14.1',
  '  8,192',
  ' 85.9',
  ''],
 ['',
  'Other Not Hispanic               ',
  '   3,035',
  '    695',
  ' 22.9',
  '  2,340',
  ' 77.1',
  ''],
 ['',
  'Hispanic                         ',
  '   8,758',
  '  1,056',
  ' 12.1',
  '  7,702',
  ' 87.9',
  ''],
 ['',
  'GENDER                           ',
  '        ',
  '       ',
  '     ',
  '       ',
  '     ',
  ''],
 ['',
  'Male                             ',
  '  30,630',
  '  7,037',
  ' 23.0',
  ' 23,593',
  ' 77.0',
  ''],
 ['',
  'Female                           ',
  '  29,260',
  '  6,498',
  ' 22.2',
  ' 22,762',
  ' 77.8',
  ''],
 ['',
  'HOUSEHOLD TYPE                   ',
  '        ',
  '       ',
  '     ',
  '       ',
  '     ',
  ''],
 ['',
  'Married couple household         ',
  '  42,664',
  ' 10,598',
  ' 24.8',
  ' 32,066',
  ' 75.2',
  ''],
 ['',
  'Male householder                 ',
  '   3,305',
  '    695',
  ' 21.0',
  '  2,610',
  ' 79.0',
  ''],
 ['',
  'Female householder               ',
  '  13,921',
  '  2,243',
  ' 16.1',
  ' 11,679',
  ' 83.9',
  ''],
 ['',
  'REGION                           ',
  '        ',
  '       ',
  '     ',
  '       ',
  '     ',
  ''],
 ['',
  'Northeast                        ',
  '  11,214',
  '  2,725',
  ' 24.3',
  '  8,488',
  ' 75.7',
  ''],
 ['',
  'Midwest                          ',
  '  14,091',
  '  3,358',
  ' 23.8',
  ' 10,733',
  ' 76.2',
  ''],
 ['',
  'South                            ',
  '  20,317',
  '  4,198',
  ' 20.7',
  ' 16,119',
  ' 79.3',
  ''],
 ['',
  'West                             ',
  '  14,269',
  '  3,254',
  ' 22.8',
  ' 11,015',
  ' 77.2',
  ''],
 ['',
  'HOUSEHOLDER EDUCATIONAL          ',
  '        ',
  '       ',
  '     ',
  '       ',
  '     ',
  ''],
 ['',
  'ATTAINMENT                       ',
  '        ',
  '       ',
  '     ',
  '       ',
  '     ',
  ''],
 ['',
  'Elementary: 0-8 years            ',
  '   3,816',
  '    361',
  '  9.5',
  '  3,455',
  ' 90.5',
  ''],
 ['',
  'Some H.S.: no diploma            ',
  '   6,372',
  '    791',
  ' 12.4',
  '  5,582',
  ' 87.6',
  ''],
 ['',
  'H.S. Diploma/GED                 ',
  '  19,291',
  '  3,615',
  ' 18.7',
  ' 15,676',
  ' 81.3',
  ''],
 ['',
  'Some College                     ',
  '  16,669',
  '  4,100',
  ' 24.6',
  ' 12,569',
  ' 75.4',
  ''],
 ['',
  'Bachelors degree or more         ',
  '  13,743',
  '  4,669',
  ' 34.0',
  '  9,074',
  ' 66.0',
  ''],
 ['',
  'HOUSEHOLDER EMPLOYMENT STATUS    ',
  '        ',
  '       ',
  '     ',
  '       ',
  '     ',
  ''],
 ['',
  'Employed                         ',
  '  48,154',
  ' 11,587',
  ' 24.1',
  ' 36,566',
  ' 75.9',
  ''],
 ['',
  'Unemployed                       ',
  '   2,059',
  '    304',
  ' 14.8',
  '  1,755',
  ' 85.2',
  ''],
 ['',
  'Not in Labor force               ',
  '   9,678',
  '  1,644',
  ' 17.0',
  '  8,033',
  ' 83.0',
  ''],
 ['',
  'FAMILY INCOME                    ',
  '        ',
  '       ',
  '     ',
  '       ',
  '     ',
  ''],
 ['',
  'Under $5,000                     ',
  '   2,660',
  '    358',
  ' 13.4',
  '  2,302',
  ' 86.6',
  ''],
 ['',
  '5,000-9,999                      ',
  '   3,957',
  '    429',
  ' 10.8',
  '  3,528',
  ' 89.2',
  ''],
 ['',
  '10,000-14,999                    ',
  '   4,430',
  '    550',
  ' 12.4',
  '  3,880',
  ' 87.6',
  ''],
 ['',
  '15,000-19,999                    ',
  '   3,285',
  '    474',
  ' 14.4',
  '  2,811',
  ' 85.6',
  ''],
 ['',
  '20,000-24,999                    ',
  '   3,970',
  '    656',
  ' 16.5',
  '  3,314',
  ' 83.5',
  ''],
 ['',
  '25,000-34,999                    ',
  '   7,616',
  '  1,536',
  ' 20.2',
  '  6,080',
  ' 79.8',
  ''],
 ['',
  '35,000-49,999                    ',
  '   9,606',
  '  2,147',
  ' 22.4',
  '  7,459',
  ' 77.6',
  ''],
 ['',
  '50,000-74,999                    ',
  '  10,261',
  '  2,972',
  ' 29.0',
  '  7,288',
  ' 71.0',
  ''],
 ['------------------------------------------------------------------------']]

In [10]:
with open('1997_internet_use_by_age.csv', 'w', newline='') as f:
    writer = csv.writer(f)
    writer.writerows(flattened_list)